<%= form_tag(user_project_survey_concept_maps_path(@user, @project, @survey), class: "form", remote: true) do %>
    <p class="form-control-static"><%= t('concept_maps._form_email.description')%>:</p>
    <div class="form-group">
      <%= hidden_field_tag 'type', 'email'%>
      <%= text_area_tag 'email', nil, class: "form-control", rows: 5, placeholder: t('concept_maps._form_email.placeholder')%>

      <div class="checkbox">
        <label>
          <%= check_box_tag 'anonymized', 1%>
          <%=  t('concept_maps._form_email.anonymize')%>
        </label>
      </div>
    </div>
    <div class="form-group">
      <%= submit_tag t('concept_maps._form_email.submit'), class: "btn btn-primary" %>
      <button type="button" class="btn btn-secondary" onclick="history.back()"><%= t('cancel') %></button>
    </div>
<% end %>