<p>There is no need to save. Every action will be saved automatically!</p>
<p>This concept map has the code: <b><%= @concept_map.code%></b><br/>
  You can use this code to come back to your concept map later
</p>
<br/>
<%= form_tag('#') do %>
    <p>Send the code by e-mail (e-mail address will not be stored)</p>
    <div class="form-group">
      <input id="email" class="form-control" name="emai" placeholder="<%= t('email') %>" type="email" />
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-success" onclick="$.ajax({url: '<%= concept_map_path(@concept_map, format: :text)%>' + '?email=' + $('#email').val()});return false;"><%= t('.send') %></button>
    </div>
<% end %>
</div>