<p>Ein Speichern ist nicht nötig, jede Aktion wird automatisch gespeichert!</p>
<p>Dieses Begriffsnetz hat den Code: <b><%= @concept_map.code%></b><br/>
  Mit diesem Code können Sie später an dem Begrifsnetz weiterarbeiten.
</p>
<br/>
<%= form_tag('#') do %>
    <p>Den Code als Mail verschicken (E-Mail Adresse wird nicht gespeichert)</p>
    <div class="form-group">
      <input id="email" class="form-control" name="emai" placeholder="<%= t('email') %>" type="email" />
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-success" onclick="$.ajax({url: '<%= concept_map_path(@concept_map, format: :text)%>' + '?email=' + $('#email').val()});return false;"><%= t('.send') %></button>
    </div>
<% end %>
</div>