<div class="card" style="width: 100%; padding-bottom: 56%">
  <div id="canvas_<%= concept_map.id%>" style="position:  absolute; top: 0; left: 0; bottom: 0; right: 0; margin-bottom: 20px; margin-left: 20px; margin-right: 20px">
  </div>
</div>

<script type="module">
  import vis from "vis-network"
  import { DataSet } from "vis-data/peer/umd/vis-data.js"


  window.nodes_<%= concept_map.id%> = new DataSet([
    <% concept_map.concepts.each do |c| %>
    <%= render c %>,
    <% end %>
  ]);

  window.edges_<%= concept_map.id%> = new DataSet([
    <% concept_map.links.each do |l| %>
    <%= render l %>,
    <% end %>
  ]);

  var container_<%= concept_map.id%> = document.getElementById('canvas_<%= concept_map.id%>');

  var data_<%= concept_map.id%> = {
    nodes: window.nodes_<%= concept_map.id%>,
    edges: window.edges_<%= concept_map.id%>
  };

  var options = {
    autoResize: true,
    height: '100%',
    width: '100%',
    edges: {
      arrows : {
        to: {
          enabled: true,
          scaleFactor: 0.75
        },
      },
      smooth: false
    },
    physics: {
      enabled: false
    },
    interaction: {
      hover: false,
      dragNodes: false,
      navigationButtons: false,
      selectConnectedEdges: false,
      hoverConnectedEdges: false
    }
  };

  window.network_<%= concept_map.id%> = new vis.Network(container_<%= concept_map.id%>, data_<%= concept_map.id%>, options);
  network_<%= concept_map.id%>.once('afterDrawing', function(params) {network_<%= concept_map.id%>.fit();});
  network_<%= concept_map.id%>.redraw();
</script>
