<div id="timeline_<%= concept_map.id %>" style="height: 160px"></div>

<script type="text/javascript">
  var container = document.getElementById('timeline_<%= concept_map.id %>');
  var items = [
     <%  concept_map.versions.each do |v| %>
    {x: '<%= v.date %>', y: <%= v.associations %>},
     <% end %>
  ];

  var dataset = new vis.DataSet(items);
  var options = {
    start: '<%= concept_map.versions.first.date %>',
    end: '<%= concept_map.versions.last.date %>',
    height: '100%',
    width: '100%'
  };
  var timeline= new vis.Graph2d(container, dataset, options);
  var timeBar = timeline.addCustomTime("<%= concept_map.versions.last.date%>");
  timeline.moveTo("<%= concept_map.versions.last.date %>");
</script>