<%= render 'concept_maps/editor/navigation_elements' %>

<!-- Intro -->
<% if @concept_map.first? %>
  <%= render 'concept_maps/editor/intro' %>
<% end %>

<!-- Flexible form for CRUD-actions -->
<div id="panel" class="hidden panel panel-default" style="z-index:1; position:absolute; left:0px; top:0px;">
  <div class="panel-body">
    <p><em id="action"></em><button type="button" class="close pull-right" onclick="hideForm();" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="font-size: 12pt"></span></button></p>

    <form id="form" class="form-inline" method="post" data-remote="true">
      <div class="form-group">
        <% if @concept_map.survey.association_labels.blank? %>
            <input id="entry_link" class="form-control" name="link[label]" placeholder="<%= t :name %>" type="text" />
        <% else %>
            <%= select_tag 'link[label]', options_for_select(@concept_map.survey.association_labels.split(',').map{|l| l.strip}), id: 'entry_link', class: 'form-control' %>
        <% end %>
        <input id="entry_concept" class="form-control" name="concept[label]" placeholder="<%= t :name %>" type="text" />
        <input id="x" type="hidden" name="concept[x]"/>
        <input id="y" type="hidden" name="concept[y]"/>
        <input id="start" type="hidden" name="link[start]"/>
        <input id="end" type="hidden" name="link[end]"/>
      </div>
      <div class="form-group">
        <%= render 'concept_maps/editor/colorpicker' %>
        <button class="btn btn-sm btn-success" onclick="return validateForm();"><span class="glyphicon glyphicon-ok"></span></button>
        <button id="delete" class="btn btn-sm btn-danger" onclick="destroy();return false;"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </form>
  </div>
</div>

<!-- Dummy element for Vis-canvas -->
<div id="map-canvas">
</div>

<% append_javascript_pack_tag 'graph_example' %>