<style>
  p.sidebar {
    color: #fff;
    font-size: 14px;
    margin-left: 32px;
    margin-right: 15px;
  }

  a.menu {
    font-size: 18px;
    text-decoration: none;
  }

  .sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b809e;
    opacity: 1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav .closebtn:hover {
    color: #C2E1FF;
  }

  .sidenav .closebtn {
    position: absolute;
    text-decoration: none;
    top: 0;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    display: block;
  }

  button.colorShades {
    width: 25px;
    height: 25px;
    border-color: #fff;
    pointer-events: none;
  }

  .export {
    width: 150px;
    box-shadow: 2px 2px #778899;
  }

  li.color {
    padding-bottom:5px;
  }

  input.color {
    width: 115px;
    height: 22px;
    border-color: #fff;
    border-radius:5px;
    margin-left: 10px;
    text-align: center;
    box-shadow: 1px 1px #778899;
  }

  td.colorSelection {
    padding-left: 5px;
    padding-right: 5px;
  }

  td.colorSelection2 {
    padding-left: 5px;
    padding-top: 2px;
  }

  div.col {
    width: 25px;
    height:25px;
    border: 1px solid white;
  }

  div.col2 {
    width: 25px;
    height:25px;
    border: 1px solid white;
  }

  .accordion {
    background-color: #1b809e;
    color: #fff;
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    width: 100%;
    border: 1px solid #1e8dae;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #1e8dae;
  }

  .accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .panel2 {
    padding: 0px;
    background-color: #1b809e;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
  }

</style>

<!------------------------ Navigation bar ------------------------>
<% content_for :header do %>
    <div id="navbar" class="container-fluid">

      <!-- Left Side -->
      <a id="menuSymbol" class="navbar-brand menu" href="#" title="Menu" onclick="openNav();return false;">&#9776;</a>
      <div class="navbar-header"><p class="navbar-brand">CoMapEd</p></div>
      <p class = "navbar-text"><%= t('.code')%>: <b ><%= @concept_map.code%></b></p>

      <!-- Right Side -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top: 14px"><span class="glyphicon glyphicon-question-sign" style="font-size: 20px;"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to t('.help_short'), '', onclick: "$('#context_help').removeClass('hidden');return false;"%></li>
            <li><%= link_to t('.help_info'), '', onclick: "$('#info').removeClass('hidden');return false;"%></li>
          </ul>
        </li>
        <li><a class="menu" title="Logout" href="<%= logout_path(target: 'frontend')%>"><span class="glyphicon glyphicon-off"></span></a></li>
      </ul>
    </div>
<% end %>

<!------------------------ Sidebar menu with accordion sections ------------------------>
<div id="menu" class="sidenav">
  <a href="#" class="closebtn" onclick="closeNav();return false;">&times;</a>

  <!-- Auto layout -->
  <button class="accordion"><%=t('autolayout')%></button>
  <div class="panel2">
    <p class="sidebar"><%=t('autolayout_text')%></p><br/>
    <button id="apply" type="button" class="btn btn-default" style="width: 150px;display:inline-block;margin-left: 40px;box-shadow: 2px 2px #778899;" onclick=""><%= t('apply')%></button>
    <br>&nbsp;
    <br>&nbsp;
  </div>

  <!-- Color Scheme -->
  <button class="accordion"><%=t('color_scheme') %></button>
  <div class="panel2">
    <p class="sidebar"><%=t('color_scheme_text')%></p>
    <br/>
    <ul style="list-style: none;">
      <li class="dropdown">
        <div id="currentButtonColor" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: #dff0d8;color: black;width: 150px;box-shadow: 2px 2px #778899;"> <%=t('color_concept')%> <span class="caret"></span></div>
        <div class="dropdown-menu" style="background-color: #1e8dae;min-width:150px;">
          <table>
            <tr>
              <td class="colorSelection"><div id="buttoncolor1" class="btn col" style="background-color: #dff0d8;" onclick="multiButtonColor('buttoncolor1');return false;"></div></td>
              <td class="colorSelection"><div id="buttoncolor2" class="btn col" style="background-color: greenyellow;" onclick="multiButtonColor('buttoncolor2');return false;"></div></td>
              <td class="colorSelection"><div id="buttoncolor3" class="btn col" style="background-color: green;" onclick="multiButtonColor('buttoncolor3');return false;"></div></td>
              <td class="colorSelection"><div id="buttoncolor4" class="btn col" style="background-color: plum;" onclick="multiButtonColor('buttoncolor4');return false;"></div></td>
            </tr>
            <tr>
              <td class="colorSelection2"><div id="buttoncolor5" class="btn col" style="background-color: yellow;" onclick="multiButtonColor('buttoncolor5');return false;"></div></td>
              <td class="colorSelection2"><div id="buttoncolor6" class="btn col" style="background-color: orange;" onclick="multiButtonColor('buttoncolor6');return false;"></div></td>
              <td class="colorSelection2"><div id="buttoncolor7" class="btn col" style="background-color: dodgerblue;" onclick="multiButtonColor('buttoncolor7');return false;"></div></td>
              <td class="colorSelection2"><div id="buttoncolor8" class="btn col" style="background-color: deepskyblue;" onclick="multiButtonColor('buttoncolor8');return false;"></div></td>
            </tr>
          </table>
        </div>
      </li>
      <br/>
      <li class="dropdown">
        <div id="currentBackgroundColor" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: <%=@concept_map.data['background_color']%>;color: black;width: 150px;box-shadow: 2px 2px #778899;"> <%=t('color_background')%> <span class="caret"></span></div>
        <div class="dropdown-menu" style="background-color: #1e8dae;position:absolute;min-width:150px;">
          <table>
            <tr>
              <td class="colorSelection"><div id="backgroundcolor1" class="btn col2" style="background-color: #f8f8f8;" onclick="changeBackgroundColor('backgroundcolor1');return false;"></div></td>
              <td class="colorSelection"><div id="backgroundcolor2" class="btn col2" style="background-color: lavender;" onclick="changeBackgroundColor('backgroundcolor2');return false;"></div></td>
              <td class="colorSelection"><div id="backgroundcolor3" class="btn col2" style="background-color: navajowhite;" onclick="changeBackgroundColor('backgroundcolor3');return false;"></div></td>
              <td class="colorSelection"><div id="backgroundcolor4" class="btn col2" style="background-color: darkred;" onclick="changeBackgroundColor('backgroundcolor4');return false;"></div></td>
            </tr>
            <tr>
              <td class="colorSelection2"><div id="backgroundcolor5" class="btn col2" style="background-color: azure;" onclick="changeBackgroundColor('backgroundcolor5');return false;"></div></td>
              <td class="colorSelection2"><div id="backgroundcolor6" class="btn col2" style="background-color: lightpink;" onclick="changeBackgroundColor('backgroundcolor6');return false;"></div></td>
              <td class="colorSelection2"><div id="backgroundcolor7" class="btn col2" style="background-color: lightyellow;" onclick="changeBackgroundColor('backgroundcolor7');return false;"></div></td>
              <td class="colorSelection2"><div id="backgroundcolor8" class="btn col2" style="background-color: olivedrab;" onclick="changeBackgroundColor('backgroundcolor8');return false;"></div></td>
            </tr>
          </table>
        </div>
      </li>
    </ul>
    <br>&nbsp;
    <br>&nbsp;
  </div>

  <!-- Color Legend -->
  <button class="accordion"><%=t('color_legend')%></button>
  <div class="panel2">
    <p class="sidebar"><%=t('color_legend_text')%></p>
    <br/>
    <ul style="list-style: none;">
      <li class="color"><button class="btn btn-default colorShades" style="background-color:#dff0d8;"></button><input id="legend1" class="color" type="text" ></li>
      <li class="color"><button class="btn btn-default colorShades" style="background-color:greenyellow;"></button><input id="legend2" class="color" type="text" ></li>
      <li class="color"><button class="btn btn-default colorShades" style="background-color:green;"></button><input id="legend3" class="color" type="text" ></li>
      <li class="color"><button class="btn btn-default colorShades" style="background-color:plum;"></button><input id="legend4" class="color" type="text" ></li>
      <li class="color"><button class="btn btn-default colorShades" style="background-color:yellow;"></button><input id="legend5" class="color" type="text" ></li>
      <li class="color"><button class="btn btn-default colorShades" style="background-color:orange;"></button><input id="legend6" class="color" type="text" ></li>
      <li class="color"><button class="btn btn-default colorShades" style="background-color:dodgerblue;"></button><input id="legend7" class="color" type="text" ></li>
      <li class="color"><button class="btn btn-default colorShades" style="background-color:deepskyblue;"></button><input id="legend8" class="color" type="text" ></li>
    </ul>
  </div>

  <!-- Email -->
  <button class="accordion"><%=t('email')%></button>
  <div class="panel2">
    <p class="sidebar"><%= t('email_text')%>:</p>
    <br/>
    <form style="padding-left: 32px;">
      <div id="emailgroup" class="form-group">
        <input id="email" type="email" class="form-control" placeholder="<%= t('email_example')%>" style="width: 200px">
      </div>
      <button id="submit" type="submit" class="btn btn-default" onclick="sendMail();return false;"><%= t('.send')%></button>
    </form>
    <br>
  </div>

  <!-- Export -->
  <button class="accordion"><%=t('export')%></button>
  <div class="panel2">
    <p class="sidebar"><%= t('export_text')%>:</p>
    <br>
    <div style="padding-left:40px;">
      <a id="png" class="btn btn-default export" href="#" download="<%= @concept_map.code%>.png" onclick="$('#png').attr('href', $('canvas')[0].toDataURL());return false;"><%= t('exportPNG')%></a>
    </div>
    <br/>
    <div style="padding-left:40px;">
      <%= link_to t('exportTGF'), concept_map_path(@concept_map, format: 'text'), {class: "btn btn-default export"}%>
    </div>
    <br/>&nbsp;
  </div>
</div>

<!------------------------ Alerts ------------------------>

<!-- Survey Introduction -->
<% if @concept_map.accesses <= 2 && !@concept_map.survey.introduction.blank? %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= @concept_map.survey.introduction %>
  </div>
<% end %>

<!-- Quick help -->
<div id="info" class="alert alert-info <% if @concept_map.accesses > 2 %> hidden <% end %>">
  <button type="button" class="close" aria-label="Close" onclick="$('#info').addClass('hidden');return false;"><span aria-hidden="true">&times;</span></button>
  <%= render 'info'%>
</div>

<!-- More information -->
<div id="context_help" class="alert alert-info <% if @concept_map.accesses > 2 %> hidden <% end %>">
  <button type="button" class="close" aria-label="Close" onclick="$('#context_help').addClass('hidden');return false;"><span aria-hidden="true">&times;</span></button>
  <p id="context_help_text">
  </p>
  <%= render 'context_help'%>
</div>


<!------------------------ Concept map ------------------------>

<%if @concept_map.data['background_color'].nil?%>
    <div id="map" class="well" style="background-color: #f8f8f8; height: 100%">
    </div>
<%else%>
    <div id="map" class="well" style="background-color: <%= @concept_map.data['background_color']%>; height: 100%">
    </div>
<%end%>

<div id="panel" class="hidden panel panel-default" style="position:absolute;left:0px;top:0px">
  <div class="panel-body">
    <p><em id="action"></em></p>
    <form id="form" class="form-inline" method="post" data-remote="true">
      <div class="form-group">
        <% if @concept_map.survey.association_labels.blank? %>
            <input id="entry_link" class="form-control" name="link[label]" placeholder="<%= t :name %>" type="text" />
        <% else %>
            <%= select_tag 'link[label]', options_for_select(@concept_map.survey.association_labels.split(',').map{|l| l.strip}), id: 'entry_link', class: 'form-control' %>
        <% end %>
        <input id="entry_concept" class="form-control" name="concepts[concepts_data[label]]" placeholder="<%= t :name %>" type="text" />
        <input id="x" type="hidden" name="concepts[concepts_data[data[x]]]"/>
        <input id="y" type="hidden" name="concepts[concepts_data[data[y]]]"/>
        <input id="color" type="hidden" name="concepts[concepts_data[data[color]]]"/>
        <input id="start" type="hidden" name="link[start]"/>
        <input id="end" type="hidden" name="link[end]"/>
      </div>
      <div class="form-group" >
        <div class="dropdown" style="display: inline-block">
          <div id="currentColor" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: #dff0d8;color: black">Farbe <span class="caret"></span></div>
          <div class="dropdown-menu">
            <table>
              <tr>
                <td style="padding-left: 5px;"><div id="color1" class="btn" style="width: 30px;height:30px;background-color: #dff0d8;" onclick="changeColor('color1');"></div></td>
                <td style="padding-left: 5px;"><div id="color2" class="btn" style="width: 30px;height:30px;background-color: greenyellow" onclick="changeColor('color2');"></div></td>
                <td style="padding-left: 5px;"><div id="color3" class="btn" style="width: 30px;height:30px;background-color: green" onclick="changeColor('color3');"></div></td>
                <td style="padding-left: 5px;"><div id="color4" class="btn" style="width: 30px;height:30px;background-color: plum" onclick="changeColor('color4');"></div></td>
              </tr>
              <tr>
                <td style="padding-left:5px; padding-top: 2px"><div id="color5" class="btn" style="width: 30px;height:30px;background-color: yellow" onclick="changeColor('color5');"></div></td>
                <td style="padding-left: 5px; padding-top: 2px"><div id="color6" class="btn" style="width: 30px;height:30px;background-color: orange" onclick="changeColor('color6');"></div></td>
                <td style="padding-left: 5px; padding-top: 2px"><div id="color7" class="btn" style="width: 30px;height:30px;background-color: dodgerblue" onclick="changeColor('color7');"></div></td>
                <td style="padding-left: 5px; padding-top: 2px"><div id="color8" class="btn" style="width: 30px;height:30px;background-color: deepskyblue" onclick="changeColor('color8');"></div></td>
              </tr>
            </table>
          </div>
        </div>
        <button class="btn btn-sm btn-success" onclick="return validateForm();"><span class="glyphicon glyphicon-ok"></span></button>
        <button class="btn btn-sm btn-default"onclick="hideForm();return false;"><span class="glyphicon glyphicon-remove"></span></button>
        <button id="delete" class="btn btn-sm btn-danger" onclick="destroy();return false;"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </form>
  </div>
</div>

<!------------------------ Javascript ------------------------>

<script type="text/javascript">
    const none = 0;
    const addNode = 1;
    const editNode = 2;
    const addEdge = 3;
    const editEdge = 4;
    const dragNode = 5;
    var oldColor = null;
    var oldX = 0;
    var oldY = 0;
    var toggle = false;
    var nodesArray = [];
    var edge = [];

   // var keks = "<%= @concept_map.data['legend'] %>";
  //  alert(conceptMapLegend['rgb(223,240,216)']);

    var mode = none;
    var canvasX = 0, canvasY = 0, id = 0, color=$('#currentColor').css('background-color');
    var nodes = new vis.DataSet([
        <% @concept_map.concepts.each do |c| %>
        <%= render c %>,
        <% end %>
    ]);

    var edges = new vis.DataSet([
        <% @concept_map.links.each do |l| %>
        <%= render l %>,
        <% end %>
    ]);

    var container = document.getElementById('map');

    var data = {
        nodes: nodes,
        edges: edges
    };
    //options for vis.js map
    var options = {
        autoResize: true,
        height: '100%',
        width: '100%',
        edges: {
          arrows : {
              to: {
                  enabled: true,
                  scaleFactor: 0.75
              },
          },
          smooth: false
        },
        physics: {
            enabled: false
        },
        interaction : {
            hover: true,
            navigationButtons: true,
            selectConnectedEdges: false,
            hoverConnectedEdges: false,
            multiselect: true
        }
    };

    var network = new vis.Network(container, data, options);
    $('#context_help_text').html($('#ch_normal').html());

    network.on("hoverNode", function (params) {
      if (mode == none)
        $('#context_help_text').html($('#ch_hovernode').html());
      network.canvas.body.container.style.cursor = 'pointer'
    });
    network.on("hoverEdge", function (params) {
      if (mode == none)
        $('#context_help_text').html($('#ch_hoveredge').html());
      network.canvas.body.container.style.cursor = 'pointer'
    });

    network.on("blurNode", function (params) {
      if (mode == none)
        $('#context_help_text').html($('#ch_normal').html());
      network.canvas.body.container.style.cursor = 'default'
    });
    network.on("blurEdge", function (params) {
      if (mode == none)
        $('#context_help_text').html($('#ch_normal').html());
      network.canvas.body.container.style.cursor = 'default'
    });

    //Drag: Dragging concepts - Beginn
    network.on("dragStart", function (params) {
      if(params.nodes.length > 0) {
        id = params.nodes[0];
        mode = dragNode;
        oldX = params.pointer.canvas.x;
        oldY = params.pointer.canvas.y;
      }
    });

    //Drag: Dragging concepts - End
    network.on("dragEnd", function (params) {
        nodesArray=params.nodes;


        switch (mode) {
            case dragNode:
                concepts_data = {};
                newX = params.pointer.canvas.x;
                newY = params.pointer.canvas.y;
                //create hash of concepts (multiupdate)
                //    updated all selected and compute new x- and y-coordinates for all (oldX and oldY position of mouse at dragstart)
                nodesArray.forEach(function (element) {
                    concepts_data[element] = {'label': nodes.get(element).label, 'data':{'x': (nodes.get(element).x -(oldX-newX)), 'y': (nodes.get(element).y -(oldY-newY)), 'color':nodes.get(element).color.background}};
                    nodes.update({id: element, 'x': (nodes.get(element).x -(oldX-newX)), 'y': (nodes.get(element).y -(oldY-newY))});

                });
                //update concepts
                //fakeId= -1 needed
                jQuery.ajax({
                    type: "PUT",
                    url: "<%= concept_map_concepts_path(@map) %>/" + "-1" + "/",
                    data: {"concepts": {"concepts_data":concepts_data}}
                });
                hideForm();
        }
    });

    //Klick: Aktuelle Aktion abbrechen, Edit Node, Edit Edge, Add Node, Add Edge
    network.on("click", function (params) {
      switch (mode) {
        case editEdge:
        case editNode:
        case addNode:
          hideForm();
          break;
        case addEdge:
            //Deactivate all options if STRG or CMD are pressed
            if(toggle){
                nodesArray = params.nodes;
            }
            else{
                if (params.nodes.length > 0) {
                    $('#start').val(id);
                    //draw an edge
                    if(id == params.nodes[0]){
                        $('#end').val(params.nodes[1]);
                    }
                    else{
                        $('#end').val(params.nodes[0]);
                    }


                    canvasX = Math.min(nodes.get(id).x, nodes.get(params.nodes[0]).x) + Math.abs(nodes.get(id).x - nodes.get(params.nodes[0]).x) / 2;
                    canvasY = Math.min(nodes.get(id).y, nodes.get(params.nodes[0]).y) + Math.abs(nodes.get(id).y - nodes.get(params.nodes[0]).y) / 2;
                    edge = edges.get({
                        filter: function (item) {
                            return (item.from == $('#start').val() && item.to == $('#end').val());
                        }
                    }, {returnType: 'Array'});
                    if (edge.length > 0) {
                        id = edge[0].id;
                        mode = editEdge;

                    }
                    showForm();
                }
                else
                    hideForm();
            }
            break;
        case none:
            //Deactivate all options if STRG or CMD are pressed
            if(toggle){
                nodesArray = params.nodes;
            }
            else{
                if (params.nodes.length > 0) {
                    id = params.nodes[0];
                    setTimeout(function() {
                            <% if @concept_map.survey.concept_labels.blank? %>
                            if (mode == none) {
                                canvasX = nodes.get(id).x;
                                canvasY = nodes.get(id).y;
                                mode = editNode;
                                //getting Color of changed concept
                                $('#currentColor').css('background-color', nodes.get(id).color.background);
                                oldColor = $('#currentColor').css('background-color');
                                color = $('#currentColor').css('background-color');
                                showForm();
                            }
                            <% end %>
                        },
                        175);
                }
                else
                if (params.edges.length > 0) {
                    id = params.edges[0];
                    setTimeout(function() {
                            if (mode == none) {
                                canvasX = params.pointer.canvas.x;
                                canvasY = params.pointer.canvas.y;
                                mode = editEdge;
                                showForm();
                            }
                        },
                        175);
                }
            }
      }
    });

    //Hold: Neue Kante erstellen - Anfang
    network.on("hold", function (params) {
      if (mode == none) {
        if (params.nodes.length > 0) {
          id = params.nodes[0];
          //select nodes and get an array of all selected
          nodesArray = params.nodes;
          mode = addEdge;
          $('#context_help_text').html($('#ch_addedge').html());
        }
        else {
          <% if @concept_map.survey.concept_labels.blank? %>
            canvasX = params.pointer.canvas.x;
            canvasY = params.pointer.canvas.y;
            mode = addNode;
            showForm();
          <% end %>
        }
      }
      //force closing of panels
          //cant directily differ between short and long click at second click
          //fast enough for a human not to recognize
      else if(mode==addEdge){
          $("#panel").addClass("hidden");
          $("#panel").focusout();
          nodesArray = params.nodes;
      }
      else if (edge.length > 0) {
            mode = none;
          $("#panel").addClass("hidden");
          $("#panel").focusout();
          nodesArray = params.nodes;

        }
    });

    function destroy() {
      switch (mode) {
        case editNode:
          jQuery.ajax({type: "DELETE", url: "<%= concept_map_concepts_path(@map) %>/" + id });
          break;
        case editEdge:
          jQuery.ajax({type: "DELETE", url: "<%= concept_map_links_path(@map) %>/" + id });
          break;
      }
      hideForm();
    }

    function showForm() {
      $("#panel").removeClass("hidden");
      $("#panel").attr("style", "position:absolute;left:" + ($("#map").offset().left+network.canvasToDOM({x: canvasX, y: canvasY}).x-$("#form").width()/2) + "px;top:" + ($("#map").offset().top+network.canvasToDOM({x: canvasX, y: canvasY}).y-$("#form").height()/2) + "px;");
      switch (mode) {
            case addNode:
              $('#context_help_text').html($('#ch_new').html());
              $('#action').html("<%= t('.action_new_node')%>");
              $("#entry_concept").val("");
              $("#entry_concept").removeClass("hidden");
              $("#entry_link").addClass("hidden");
              $("#delete").addClass("hidden");
              $("#form").attr('action', '<%= concept_map_concepts_path(@map) %>');
              $("#form").attr('method', 'post');
              $("#x").attr("value", canvasX);
              $("#y").attr("value", canvasY);
              color = $('#currentColor').css('background-color');
              $("#color").attr("value", color);
              $("#entry_concept").focus();
              $("#currentColor").show();
                break;
            case editNode:
              $('#context_help_text').html($('#ch_edit').html());
              $('#action').html("<%= t('.action_edit_node')%>");
              $("#entry_concept").val(nodes.get(id).label);
              $("#entry_concept").removeClass("hidden");
              $("#entry_link").addClass("hidden");
              $("#delete").removeClass("hidden");
              $("#form").attr('action', '<%= concept_map_concepts_path(@map) %>/' + id);
              $("#form").attr('method', 'put');
              $("#x").attr("value", canvasX);
              $("#y").attr("value", canvasY);
              $("#color").attr("value", color);
              $("#entry_concept").focus();
              $("#currentColor").show();
                break;
            case editEdge:
              $('#context_help_text').html($('#ch_edit').html());
              $('#action').html("<%= t('.action_edit_link')%>");
              $("#entry_link").val(edges.get(id).label);
              $("#entry_link").removeClass("hidden");
              $("#entry_concept").addClass("hidden");
              $("#delete").removeClass("hidden");
              $("#form").attr('action', '<%= concept_map_links_path(@map) %>/' + id);
              $("#form").attr('method', 'put');
              $("#entry_link").focus();
              $("#currentColor").hide();
                break;
            case addEdge:
              $('#context_help_text').html($('#ch_new').html());
              $('#action').html("<%= t('.action_new_link')%>");
              $("#entry_link").val("");
              $("#entry_link").removeClass("hidden");
              $("#entry_concept").addClass("hidden");
              $("#currentColor").hide();
              $("#delete").addClass("hidden");
              $("#form").attr('action', '<%= concept_map_links_path(@map) %>');
              $("#form").attr('method', 'post');
              $("#entry_link").focus();

        }
   }

    //Edit/Create Aktion beenden
    function hideForm() {
        $("#panel").addClass("hidden");
        $("#panel").focusout();
        network.unselectAll();
        mode = none;
        $('#context_help_text').html($('#ch_normal').html());
    }

    //Form bei ESC oder Enter schließen
    $("#entry_concept").on('keyup', function (e) {
      if (e.keyCode == 27)
        hideForm();
    });
    $("#entry_link").on('keyup', function (e) {
      if (e.keyCode == 27)
        hideForm();
    });

    //check if STRG or CMD are pressend and toggle status/modus
    $(window).on('keydown', function (e) {
        if(e.keyCode==17){
            toggle = true;
        }

    });

    $(window).on('keyup',function (e) {
        if(e.keyCode==17){
            toggle=false;
        }

    });

    function validateForm() {
      if (mode == addNode || mode == editNode) {
        t = $('#entry_concept').val();
        hideForm();
        node = nodes.get({
          filter: function (item) {
            return (item.label.toLocaleLowerCase() === t.toLocaleLowerCase());
          }
        });

        if (node == null||oldColor!=color){
            return true;
        }
        else {
            network.focus(node[0].id);
            return false;
        }
      }
      else {
          hideForm();
        return true;
      }

    }

    function sendMail() {
      $('#emailgroup').removeClass('has-error');
      $('#emailgroup').removeClass('has-success');
      $('#submit').removeClass('btn-danger');
      $('#submit').removeClass('btn-success');
      if ($('#email').is(':valid') && $('#email').val() != '') {
        $.ajax({url: '<%= concept_map_path(@concept_map, format: :text)%>' + '?email=' + $('#email').val()});
        $('#submit').addClass('btn-success');
        $('#emailgroup').addClass('has-success');
      }
      else {
        $('#submit').addClass('btn-danger');
        $('#emailgroup').addClass('has-error');
      }
    }
    //change the color of one concept
    //is send with Form for concepts
    function changeColor(colorID) {
        $('#currentColor').css('background-color', $('#'+colorID).css('background-color'));
        color = $('#currentColor').css('background-color');
        $("#color").attr("value", color);
        $("#entry_concept").focus();
        return false;
    }
    //change the backgroundcolor of the map and save it in DB
    function changeBackgroundColor(colorID) {
        backgroundColor = $('#'+ colorID).css('background-color');
        $('#map').css('background-color',backgroundColor);
        $('#currentBackgroundColor').css('background-color',backgroundColor);
        jQuery.ajax({
            type: "PUT",
            url: "<%= concept_map_path(@map) %>",
            data: {"concept_map": {'data':{'background_color': backgroundColor}}}
        });
    }
    //Multichange color of concepts
    //send with ajax
    function multiButtonColor(colorID) {
        $('#currentButtonColor').css('background-color', $('#'+colorID).css('background-color'));
        color = $('#currentButtonColor').css('background-color');
        concepts_data = {};
        nodesArray.forEach(function (element) {
            concepts_data[element] = {'label': nodes.get(element).label, 'data':{'x': nodes.get(element).x, 'y': nodes.get(element).y, 'color':color}};

        });
        jQuery.ajax({
            type: "PUT",
            url: "<%= concept_map_concepts_path(@map) %>/" + "-1" + "/",
            data: {"concepts": {"concepts_data":concepts_data}}
        });
        nodesArray =[];
        network.unselectAll();
        mode = none;
        $('#context_help_text').html($('#ch_normal').html());
    }

    //disallow #-Key/hash in inputfield
    //in term of creating/updating concepts/links
    $('#entry_concept').on('keydown', function (e) {
        if(e.keyCode == 163){
            e.preventDefault();
        }

    });
    $('#entry_link').on('keydown', function (e) {
        if (e.keyCode == 163) {
            e.preventDefault();
        }
    });


        // Open and close the sidebar menu
    function openNav() {
       document.getElementById("menu").style.width = "260px";
       document.getElementById("navbar").style.marginLeft = "260px";
       document.getElementById("map").style.marginLeft = "260px";
       document.getElementById("info").style.marginLeft = "260px";
       document.getElementById("context_help").style.marginLeft = "260px";
       $('#menuSymbol').addClass('hidden');
    }

    function closeNav() {
        document.getElementById("menu").style.width = "0";
        document.getElementById("navbar").style.marginLeft= "0";
        document.getElementById("map").style.marginLeft= "0";
        document.getElementById("info").style.marginLeft = "0px";
        document.getElementById("context_help").style.marginLeft = "0px";
        $('#menuSymbol').removeClass('hidden');
    }

    // Accordion action of the sidebar menu
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

    // Save name of colors
 //   function saveName(colorID) {
    //    var name = document.getElementById(colorID).value;
    // jQuery.ajax({
    //        type: "PUT",
    //        url: "<%= concept_map_path(@map) %>",
    //        data: {"concept_map": {'data':{'background_color': backgroundColor, 'legend': name}}}
    //    });
    //}

</script>