<%= render 'concept_maps/editor/navigation_elements' %>

<!-- Intro -->
<% if @concept_map.first? %>
  <%= render 'concept_maps/editor/intro' %>
<% end %>
<!-- Flexible form for CRUD-actions -->
<div id="edit-dialog" class="d-none card" style="z-index:1; position:absolute; left:0px; top:0px;">
  <div id="edit-dialog-header" class="card-header d-flex justify-content-between">
    <em id="action"></em>
    <button type="button" class="btn-close" onclick="hideForm();" aria-label="Close"></button>
  </div>
  <div class="card-body">
    <form id="form" class="form-inline" onsubmit="submitChanges(event);return false;">
      <div class="form-group">
        <% if @concept_map.survey.association_labels.blank? %>
            <input id="entry_link" class="form-control" name="link[label]" placeholder="<%= t :name %>" type="text" />
        <% else %>
            <%= select_tag 'link[label]', options_for_select(@concept_map.survey.association_labels.split(',').map{|l| l.strip}), id: 'entry_link', class: 'form-control' %>
        <% end %>
        <input id="entry_concept" class="form-control" name="concept[label]" placeholder="<%= t :name %>" type="text" />
        <input id="x" type="hidden" name="concept[x]"/>
        <input id="y" type="hidden" name="concept[y]"/>
        <input id="start" type="hidden" name="link[start]"/>
        <input id="end" type="hidden" name="link[end]"/>
      </div>
      <div class="form-group mt-2 d-flex">
        <%= render 'concept_maps/editor/colorpicker' %>
        <%= render 'concept_maps/editor/shapepicker' %>
        <%= render 'concept_maps/editor/edgepicker' %>
      <div class="flex-grow-1"></div>
        <button class="bi-check-lg btn btn-sm btn-success flex-grow-0  me-1 mb-2 " onclick="return validateForm();"></button>
        <button id="delete" class="btn btn-sm btn-danger flex-grow-0 mb-2 bi-trash" onclick="destroy();return false;"></button>
      </div>
    </form>
  </div>
</div>
<!-- Cursor Function Button -->
<div id="header-cursor">
  <button id="cursor-button" class="btn info"><span>Edit</span></button>
</div>

<!-- Node Function Button -->
<div id="header-node">
  <button id="node-button" class="btn info"><span>Add Node</span></button>
</div>

<!-- Edge Function Button -->
<div id="header-edge">
  <button id="edge-button" class="btn info"><span>Add Edge</span></button>
</div>

<!-- Misc Function Button -->
<div id="header-misc" class= "hidden">
  <button id="misc-button" class="btn info" hidden ></button>
</div>

<div id="addEdgeToast" class="toast" style="display:none">Drag from StartConcept</div>

<div id="doubleEdgeToast" class="toast error_toast" style="display:none">You can't create more than one edge per direction!</div>


<!-- Dummy element for Vis-canvas -->
<div id="map-canvas">
</div>

<!-- Scripts -->
<script type="module">
  import { init } from "application"

  init({
    edgeData: [
        <% @concept_map.links.each do |l| %>
        <%= render l %>,
        <% end %>
    ],
    nodeData: [
        <% @concept_map.concepts.each do |c| %>
        <%= render c %>,
        <% end %>
    ],
    conceptsPath: "<%= concept_map_concepts_path(@map) %>",
    conceptMapsPath: "<%= concept_map_path(@concept_map, format: :text)%>",
    linksPath: "<%= concept_map_links_path(@map) %>",
    dialogTexts: {
      editNode: "<%= t('.action_edit_node')%>",
      addNode: "<%= t('.action_new_node')%>",
      editEdge: "<%= t('.action_edit_link')%>",
      addEdge: "<%= t('.action_new_link')%>"
    }
  }
  )
</script>
