<div id="map" class="well" style="height: 100%"></div>

<div id="panel" class="hidden panel panel-default" style="position:absolute;left:0px;top:0px">
  <div class="panel-body">
    <form id="form" class="form-inline" method="post" data-remote="true">
      <div class="form-group">
        <input id="entry" class="form-control" name="concept[label]" placeholder="<%= t :name %>" type="text" />
        <input id="x" type="hidden" name="concept[x]"/>
        <input id="y" type="hidden" name="concept[y]"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok"></span></button>
        <button class="btn btn-sm btn-default"onclick="hideForm();"><span class="glyphicon glyphicon-remove"></span></button>
        <button id="delete" class="btn btn-sm btn-danger" onclick="destroy();"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
    const none = 0;
    const addNode = 1;
    const editNode = 2;
    const addEdge = 3;
    const editEdge = 4;

    var mode = none;
    var canvasX = 0, canvasY = 0, id = 0;

    var nodes = new vis.DataSet([
        <% @concept_map.concepts.each do |c| %>
        <%= render c %>,
        <% end %>
    ]);

    var edges = new vis.DataSet([
        <% @concept_map.links.each do |l| %>
        <%= render l %>,
        <% end %>
    ]);

    var container = document.getElementById('map');

    var data = {
        nodes: nodes,
        edges: edges
    };

    var options = {
        autoResize: true,
        height: '100%',
        width: '100%',
        edges: {
            arrows : {
                to: {
                    enabled: true,
                    scaleFactor: 0.75
                },
            }
        },
        physics: {
            enabled: false
        },
        interaction : {
            hover: true
        }
    };

    var network = new vis.Network(container, data, options);

    network.on("dragStart", hideForm);

    network.on("dragEnd", function (params) {
        id = params.nodes[0];
        nodes.update({id: id, 'label': nodes.get(id).label, 'x': params.pointer.canvas.x, 'y': params.pointer.canvas.y});
        jQuery.ajax({type: "PUT", url: "<%= concept_map_path(@map) %>/concepts/" + id + "/", data: {"concept": {'label': nodes.get(id).label, 'x': params.pointer.canvas.x, 'y': params.pointer.canvas.y}}});
    });

    <% if @concept_map.survey.concept_labels.blank? %>
      network.on("doubleClick", function (params) {
          canvasX = params.pointer.canvas.x;
          canvasY = params.pointer.canvas.y;
          mode = addNode;
          showForm();
      });

      network.on("click", function (params) {
          if (params.nodes.length > 0) {
              id = params.nodes[0]
              canvasX = nodes.get(id).x;
              canvasY = nodes.get(id).y;
              mode = editNode;
              showForm();
          }
          else
              if (mode != none) {
                  hideForm();
              }
      });
    <% end %>

    $("#entry").on('keyup', function (e) {
        if (e.keyCode == 13) {
            hideForm();
        }
        if (e.keyCode == 27) {
            hideForm();
        }
    });

    function destroy() {
        if (mode == editNode) {
            jQuery.ajax({type: "DELETE", url: "<%= concept_map_concepts_path(@map) %>/" + id });
            hideForm();
        }
    }

    function showForm() {
        switch (mode) {
            case addNode:
                $("#entry").val("");
                $("#delete").addClass("hidden");
                $("#form").attr('action', '<%= concept_map_concepts_path(@map) %>');
                $("#form").attr('method', 'post');
                $("#x").attr("value", canvasX);
                $("#y").attr("value", canvasY);
                break;
            case editNode:
                $("#entry").val(nodes.get(id).label);
                $("#delete").removeClass("hidden");
                $("#form").attr('action', '<%= concept_map_concepts_path(@map) %>/' + id);
                $("#form").attr('method', 'put');
                $("#x").attr("value", canvasX);
                $("#y").attr("value", canvasY);
                break;
        }
        $("#panel").removeClass("hidden");
        $("#panel").attr("style", "position:absolute;left:" + ($("#map").offset().left+network.canvasToDOM({x: canvasX, y: canvasY}).x-$("#form").width()/2) + "px;top:" + ($("#map").offset().top+network.canvasToDOM({x: canvasX, y: canvasY}).y-$("#form").height()/2) + "px;");
        $("#entry").focus();
    }

    function hideForm() {
        mode = none;
        $("#panel").addClass("hidden");
        $("#entry").val("");
        $("#panel").focusout();
    }

</script>
