<style>
  /* ------------ Navigation menu ------------ */
  a.menu {
    font-size: 18px;
    text-decoration: none;
  }

  /* ------------ Sidebar menu ------------ */
  p.sidebar {
    color: #fff;
    font-size: 14px;
    margin-left: 32px;
    margin-right: 15px;
  }

  .sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b809e;
    opacity: 1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav .closebtn:hover {
    color: #C2E1FF;
  }

  .sidenav .closebtn {
    position: absolute;
    text-decoration: none;
    top: 0;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    display: block;
  }

  .accordion {
    background-color: #1b809e;
    color: #fff;
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    width: 100%;
    border: 1px solid #1e8dae;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #1e8dae;
  }

  .accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .panel2 {
    padding: 0px;
    background-color: #1b809e;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
  }


  /* ------------ Tutorial ------------ */
  b.tutorial {
    color: #FFFFFF;
  }

  button.tutorial {
    background-color: #1b809e;
    width: 60px;
    text-align: center;
  }

  button.tutorial:hover {
    background-color: #1e8dae;
  }

  .popover-title {
    background-color: #1b809e;
    color: #FFFFFF;
    text-align:center;
  }

  .popover.bottom {
    max-width: 15%;
  }

  .popover.left {
    max-width: 20%;
  }

  .popover.right {
    max-width: 20%;
  }

  /* ------------ Export ------------ */
  .export {
    width: 150px;
    box-shadow: 2px 2px #778899;
  }

  /* ------------ Color Management ------------ */
  button.colorShades {
    width: 25px;
    height: 25px;
    border-color: #fff;
    pointer-events: none;
  }

  li.color {
    padding-bottom:5px;
  }

  input.color {
    width: 115px;
    height: 22px;
    border-color: #fff;
    border-radius:5px;
    margin-left: 10px;
    text-align: center;
    box-shadow: 1px 1px #778899;
  }

  td.colorSelection {
    padding-left: 5px;
    padding-right: 5px;
  }

  td.colorSelection2 {
    padding-left: 5px;
    padding-top: 2px;
  }

  div.col {
    width: 25px;
    height:25px;
    border: 1px solid white;
  }

  div.col2 {
    width: 25px;
    height:25px;
    border: 1px solid white;
  }

</style>


<!------------------------ Navigation bar ------------------------>
<% content_for :header do %>
    <div id="navbar" class="container-fluid">

      <!-- Left Side -->
      <a id="menuSymbol" class="navbar-brand menu" href="#" onclick="openNav();hidePopover('menuSymbol');return false;" data-container="body" title="<%= t('popover.menu')%>" data-toggle="popover" data-trigger="manual" data-placement="bottom" data-content="<%= t('popover.menu_text')%>">&#9776;</a>
      <div class="navbar-header"><p class="navbar-brand">CoMapEd</p></div>
      <p class = "navbar-text"><%= t('.code')%>: <b id="conceptCode" data-container="body" title="<%= t('popover.code')%>" data-toggle="popover" data-trigger="manual" data-placement="right" data-content="<%= t('popover.code_text')%>"><%= @concept_map.code%></b></p>

      <!-- Right Side -->
      <ul  class="nav navbar-nav navbar-right">
        <li id="questionmark" class="dropdown" onclick="hidePopover('questionmark');hidePopover('logout');return false;" data-container="body" title="<%= t('popover.question')%>" data-toggle="popover" data-trigger="manual" data-placement="left" data-content="<%= t('popover.question_text')%>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top: 14px"><span class="glyphicon glyphicon-question-sign" style="font-size: 19px;" ></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to t('.help_short'), '', onclick: "$('#context_help').removeClass('hidden');return false;"%></li>
            <li><%= link_to t('.help_info'), '', onclick: "$('#info').removeClass('hidden');return false;"%></li>
            <li><a onclick="tutorialActive = true;step('0');return false;"><%=t('popover.tutorial')%></a></li>
          </ul>
        </li>
        <li><a  id="logout" class="menu" href="<%= logout_path(target: 'frontend')%>" data-container="body" title="<%= t('popover.logout')%>" data-toggle="popover" data-trigger="manual" data-placement="bottom" data-content="<%= t('popover.logout_text')%>"><span class="glyphicon glyphicon-off"></span></a></li>
      </ul>
    </div>
<% end %>


<!------------------------ Sidebar menu with accordion sections ------------------------>
<div id="menu" class="sidenav">
  <a href="#" class="closebtn" onclick="closeNav();return false;">&times;</a>

  <!-- Color Scheme -->
  <button class="accordion"><%=t('color_scheme') %></button>
  <div class="panel2">
    <p class="sidebar"><%=t('color_scheme_text')%></p>
    <br/>
    <ul style="list-style: none;">
      <li class="dropdown">
        <div id="currentButtonColor" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: #dff0d8;color: black;width: 150px;box-shadow: 2px 2px #778899;"> <%=t('color_concept')%> <span class="caret"></span></div>
        <div class="dropdown-menu" style="background-color: #1e8dae;min-width:150px;">
          <table>
            <tr>
              <td class="colorSelection"><div id="buttoncolor1" class="btn col" style="background-color: #dff0d8;" onclick="multiButtonColor('buttoncolor1');return false;"></div></td>
              <td class="colorSelection"><div id="buttoncolor2" class="btn col" style="background-color: greenyellow;" onclick="multiButtonColor('buttoncolor2');return false;"></div></td>
              <td class="colorSelection"><div id="buttoncolor3" class="btn col" style="background-color: green;" onclick="multiButtonColor('buttoncolor3');return false;"></div></td>
              <td class="colorSelection"><div id="buttoncolor4" class="btn col" style="background-color: plum;" onclick="multiButtonColor('buttoncolor4');return false;"></div></td>
            </tr>
            <tr>
              <td class="colorSelection2"><div id="buttoncolor5" class="btn col" style="background-color: yellow;" onclick="multiButtonColor('buttoncolor5');return false;"></div></td>
              <td class="colorSelection2"><div id="buttoncolor6" class="btn col" style="background-color: orange;" onclick="multiButtonColor('buttoncolor6');return false;"></div></td>
              <td class="colorSelection2"><div id="buttoncolor7" class="btn col" style="background-color: dodgerblue;" onclick="multiButtonColor('buttoncolor7');return false;"></div></td>
              <td class="colorSelection2"><div id="buttoncolor8" class="btn col" style="background-color: deepskyblue;" onclick="multiButtonColor('buttoncolor8');return false;"></div></td>
            </tr>
          </table>
        </div>
      </li>
      <br/>
      <li class="dropdown">
        <div id="currentBackgroundColor" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: <%=@concept_map.data['background_color']%>;color: black;width: 150px;box-shadow: 2px 2px #778899;"> <%=t('color_background')%> <span class="caret"></span></div>
        <div class="dropdown-menu" style="background-color: #1e8dae;position:absolute;min-width:150px;">
          <table>
            <tr>
              <td class="colorSelection"><div id="backgroundcolor1" class="btn col2" style="background-color: #f8f8f8;" onclick="changeBackgroundColor('backgroundcolor1');return false;"></div></td>
              <td class="colorSelection"><div id="backgroundcolor2" class="btn col2" style="background-color: lavender;" onclick="changeBackgroundColor('backgroundcolor2');return false;"></div></td>
              <td class="colorSelection"><div id="backgroundcolor3" class="btn col2" style="background-color: navajowhite;" onclick="changeBackgroundColor('backgroundcolor3');return false;"></div></td>
              <td class="colorSelection"><div id="backgroundcolor4" class="btn col2" style="background-color: darkred;" onclick="changeBackgroundColor('backgroundcolor4');return false;"></div></td>
            </tr>
            <tr>
              <td class="colorSelection2"><div id="backgroundcolor5" class="btn col2" style="background-color: azure;" onclick="changeBackgroundColor('backgroundcolor5');return false;"></div></td>
              <td class="colorSelection2"><div id="backgroundcolor6" class="btn col2" style="background-color: lightpink;" onclick="changeBackgroundColor('backgroundcolor6');return false;"></div></td>
              <td class="colorSelection2"><div id="backgroundcolor7" class="btn col2" style="background-color: lightyellow;" onclick="changeBackgroundColor('backgroundcolor7');return false;"></div></td>
              <td class="colorSelection2"><div id="backgroundcolor8" class="btn col2" style="background-color: olivedrab;" onclick="changeBackgroundColor('backgroundcolor8');return false;"></div></td>
            </tr>
          </table>
        </div>
      </li>
    </ul>
    <br>&nbsp;
    <br>&nbsp;
  </div>

  <!-- Color Legend -->
  <button class="accordion"><%=t('color_legend')%></button>
  <div id="colorlegend" class="panel2">
    <p class="sidebar"><%=t('color_legend_text')%></p>
    <br/>
    <ul style="list-style: none;">
      <li id="brightgreen" class="color hidden"><button class="btn btn-default colorShades" style="background-color:#dff0d8;"></button><input id="brightgreenlegend" class="color" type="text" onblur="saveColorName();"></li>
      <li id="greenyellow" class="color hidden"><button class="btn btn-default colorShades" style="background-color:greenyellow;"></button><input id="greenyellowlegend" class="color" type="text" onblur="saveColorName();"></li>
      <li id="green"       class="color hidden"><button class="btn btn-default colorShades" style="background-color:green;"></button><input id="greenlegend" class="color" type="text"> onblur="saveColorName();"></li>
      <li id="plum"        class="color hidden"><button class="btn btn-default colorShades" style="background-color:plum;"></button><input id="plumlegend" class="color" type="text" onblur="saveColorName();"></li>
      <li id="yellow"      class="color hidden"><button class="btn btn-default colorShades" style="background-color:yellow;"></button><input id="yellowlegend" class="color" type="text" onblur="saveColorName();"></li>
      <li id="orange"      class="color hidden"><button class="btn btn-default colorShades" style="background-color:orange;"></button><input id="orangelegend" class="color" type="text" onblur="saveColorName();"></li>
      <li id="dodgerblue"  class="color hidden"><button class="btn btn-default colorShades" style="background-color:dodgerblue;"></button><input id="dodgerbluelegend" class="color" type="text" onblur="saveColorName();"></li>
      <li id="deepskyblue" class="color hidden"><button class="btn btn-default colorShades" style="background-color:deepskyblue;"></button><input id="deepskybluelegend" class="color" type="text" onblur="saveColorName();"></li>
    </ul>
  </div>

  <!-- Email -->
  <button class="accordion"><%=t('email')%></button>
  <div class="panel2">
    <p class="sidebar"><%= t('email_text')%>:</p>
    <br/>
    <form style="padding-left: 32px;">
      <div id="emailgroup" class="form-group">
        <input id="email" type="email" class="form-control" placeholder="<%= t('email_example')%>" style="width: 200px">
      </div>
      <button id="submit" type="submit" class="btn btn-default" onclick="sendMail();return false;"><%= t('.send')%></button>
    </form>
    <br>
  </div>

  <!-- Export -->
  <button class="accordion"><%=t('export')%></button>
  <div class="panel2">
    <p class="sidebar"><%= t('export_text')%>:</p>
    <br>
    <div style="padding-left:40px;">
      <a id="png" class="btn btn-default export" href="#" download="<%= @concept_map.code%>.png" onclick="$('#png').attr('href', $('canvas')[0].toDataURL());return false;"><%= t('exportPNG')%></a>
    </div>
    <br/>
    <div style="padding-left:40px;">
      <%= link_to t('exportTGF'), concept_map_path(@concept_map, format: 'text'), {class: "btn btn-default export"}%>
    </div>
    <br/>&nbsp;
  </div>
</div>


<!------------------------ Alerts ------------------------>

<!-- More information -->
<div id="info" class="alert alert-info hidden" style="background-color: #1b809e; color: white">
  <button type="button" class="close" aria-label="Close" onclick="$('#info').addClass('hidden');return false;"><span aria-hidden="true">&times;</span></button>
  <%= render 'info'%>
</div>

<!-- Quick help -->
<div id="context_help" class="alert alert-info hidden" style="background-color: #1b809e; color: white">
  <button type="button" class="close" aria-label="Close" onclick="$('#context_help').addClass('hidden');return false;"><span aria-hidden="true">&times;</span></button>
  <p id="context_help_text">
  </p>
  <%= render 'context_help'%>
</div>


<!------------------------ Concept map ------------------------>

<%if @concept_map.data['background_color'].nil?%>
    <div id="map" class="well" style="background-color: #f8f8f8; height: 100%">
    </div>
<%else%>
    <div id="map" class="well" style="background-color: <%= @concept_map.data['background_color']%>; height: 100%">
    </div>
<%end%>

<div id="panel" class="hidden panel panel-default" style="position:absolute;left:0px;top:0px">
  <div class="panel-body">
    <p><em id="action"></em></p>
    <form id="form" class="form-inline" method="post" data-remote="true">
      <div class="form-group">
        <% if @concept_map.survey.association_labels.blank? %>
            <input id="entry_link" class="form-control" name="link[label]" placeholder="<%= t :name %>" type="text" />
        <% else %>
            <%= select_tag 'link[label]', options_for_select(@concept_map.survey.association_labels.split(',').map{|l| l.strip}), id: 'entry_link', class: 'form-control' %>
        <% end %>
        <input id="entry_concept" class="form-control" name="concepts[concepts_data[label]]" placeholder="<%= t :name %>" type="text" />
        <input id="x" type="hidden" name="concepts[concepts_data[data[x]]]"/>
        <input id="y" type="hidden" name="concepts[concepts_data[data[y]]]"/>
        <input id="color" type="hidden" name="concepts[concepts_data[data[color]]]"/>
        <input id="start" type="hidden" name="link[start]"/>
        <input id="end" type="hidden" name="link[end]"/>
      </div>
      <div class="form-group" >
        <div class="dropdown" style="display: inline-block">
          <div id="currentColor" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: #dff0d8;color: black">Farbe <span class="caret"></span></div>
          <div class="dropdown-menu">
            <table>
              <tr>
                <td style="padding-left: 5px;"><div id="color1" class="btn" style="width: 30px;height:30px;background-color: #dff0d8;" onclick="changeColor('color1');"></div></td>
                <td style="padding-left: 5px;"><div id="color2" class="btn" style="width: 30px;height:30px;background-color: greenyellow" onclick="changeColor('color2');"></div></td>
                <td style="padding-left: 5px;"><div id="color3" class="btn" style="width: 30px;height:30px;background-color: green" onclick="changeColor('color3');"></div></td>
                <td style="padding-left: 5px;"><div id="color4" class="btn" style="width: 30px;height:30px;background-color: plum" onclick="changeColor('color4');"></div></td>
              </tr>
              <tr>
                <td style="padding-left:5px; padding-top: 2px"><div id="color5" class="btn" style="width: 30px;height:30px;background-color: yellow" onclick="changeColor('color5');"></div></td>
                <td style="padding-left: 5px; padding-top: 2px"><div id="color6" class="btn" style="width: 30px;height:30px;background-color: orange" onclick="changeColor('color6');"></div></td>
                <td style="padding-left: 5px; padding-top: 2px"><div id="color7" class="btn" style="width: 30px;height:30px;background-color: dodgerblue" onclick="changeColor('color7');"></div></td>
                <td style="padding-left: 5px; padding-top: 2px"><div id="color8" class="btn" style="width: 30px;height:30px;background-color: deepskyblue" onclick="changeColor('color8');"></div></td>
              </tr>
            </table>
          </div>
        </div>
        <button class="btn btn-sm btn-success" onclick="return validateForm();"><span class="glyphicon glyphicon-ok"></span></button>
        <button class="btn btn-sm btn-default"onclick="hideForm();return false;"><span class="glyphicon glyphicon-remove"></span></button>
        <button id="delete" class="btn btn-sm btn-danger" onclick="destroy();return false;"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </form>
  </div>
</div>


<!------------------------ Tutorial ------------------------>

<!-- Introduction -->
<div id="tutorial_step0" class="hidden panel panel-default" style="position:absolute;left:20%;top:20%;width:60%;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);">
  <div class="panel-body">
    <%= render 'intro' %>
    <button class="btn btn-sm btn-default tutorial" onclick="step('1');return false;"><b class="tutorial"><%= t('popover.start')%></b></button>
  </div>
</div>

<!-- Step 1 -->
<div id="tutorial_step1" class="hidden panel panel-default" style="position:absolute;left:35%;top:75%;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);">
  <div class="panel-body">
    <b style="font-size: 18px; "><%= t('popover.step1')%></b>
    <p> <%= t('popover.tutorial_experience')%> <%= t('popover.tutorial_end') %><br/> <i style="font-size:12px;margin:auto; display:block;"><%= t('popover.tutorial_resume')%></i></p>
    <div>
      <button class="btn btn-sm btn-default tutorial" onclick="endTutorial();$('#tutorial_step1').addClass('hidden');return false;"><b class="tutorial"><%= t('popover.skip')%></b></button>
      <button class="btn btn-sm btn-default tutorial" onclick="step('2');return false;"><b class="tutorial"><%= t('popover.next')%></b></button>
    </div>
  </div>
</div>

<!-- Step 2 -->
<div id="tutorial_step2" class="hidden panel panel-default" style="position:absolute;left:32%;top:15%;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);">
  <div class="panel-body">
    <b style="font-size: 18px; "><%= t('popover.step2')%></b>
    <p> <%= t('popover.tutorial_experience')%> <%= t('popover.tutorial_end') %><br/> <i style="font-size:12px;margin:auto; display:block;"><%= t('popover.tutorial_resume')%></i></p>
    <div>
      <button class="btn btn-sm btn-default tutorial" onclick="endTutorial();$('#tutorial_step2').addClass('hidden');return false;"><b class="tutorial"><%= t('popover.skip')%></b></button>
      <button class="btn btn-sm btn-default tutorial" onclick="step('1');$('#tutorial_step2').addClass('hidden');return false;"><b class="tutorial"><%= t('popover.back')%></b></button>
      <button class="btn btn-sm btn-default tutorial" onclick="step('3');return false;"><b class="tutorial"><%= t('popover.next')%></b></button>
    </div>
  </div>
</div>

<!-- Step 3 -->
<div id="tutorial_step3" class="hidden panel panel-default" style="position:absolute;left:10%;top:20%;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);">
  <div class="panel-body">
    <b style="font-size: 18px; "><%= t('popover.step3')%></b>
    <p> <%= t('popover.tutorial_experience')%> <%= t('popover.tutorial_end') %><br/> <i style="font-size:12px;margin:auto; display:block;"><%= t('popover.tutorial_resume')%></i></p>
    <div>
      <button class="btn btn-sm btn-default tutorial" onclick="step('2');$('#tutorial_step3').addClass('hidden');return false;"><b class="tutorial"><%= t('popover.back')%></b></button>
      <button class="btn btn-sm btn-default tutorial" onclick="endTutorial();$('#tutorial_step3').addClass('hidden');return false;"><b class="tutorial"><%= t('popover.finish')%></b></button>
    </div>
  </div>
</div>


<!------------------------ Javascript ------------------------>

<script type="text/javascript">
    const none = 0;
    const addNode = 1;
    const editNode = 2;
    const addEdge = 3;
    const editEdge = 4;
    const dragNode = 5;
    var oldColor = null;
    var oldX = 0;
    var oldY = 0;
    var toggle = false;
    var nodesArray = [];
    var edge = [];
    var step0 = false;
    var step1 = false;
    var step2 = false;
    var step3 = false;
    var tutorialActive = false;
    var brightgreen = "rgb(223, 240, 216)";
    var greenyellow = "rgb(173, 255, 47)";
    var green = "rgb(0, 128, 0)";
    var plum = "rgb(221, 160, 221)";
    var yellow = "rgb(255, 255, 0)";
    var orange = "rgb(255, 165, 0)";
    var dodgerblue = "rgb(30, 144, 255)";
    var deepskyblue = "rgb(0, 191, 255)";

    // Activate popovers in general
    $(function () {
        $('[data-toggle="popover"]').popover()
    });

    // Only show tutorial popovers on "first" access
    if (<%= @concept_map.accesses <= 2%>){
      step('0');
    }

    // Accordion action of the sidebar menu
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight){
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }

    // Resize all tutorial elements
     $(window).bind('resize', function () {
         if(step0) {
             $('#tutorial_step0').css({"left": "20%", "top": "20%", "width": "60%"});
         }else if(step1){
             $('#logout').popover('show');
             $('#conceptCode').popover('show');
             $('#menuSymbol').popover('show');
             $('#questionmark').popover('show');
             $('#tutorial_step1').css({"left": "35%", "top": "75%"});
         } else if(step2){
             $('#arrows').popover('show');
             $('#zoom').popover('show');
             $('#tutorial_step2').css({"left": "32%", "top": "25%"});
         } else if(step3) {
             $('#tutorial_step3').css({"left": "10%", "top": "30%"});
         }
    });

    var mode = none;
    var canvasX = 0, canvasY = 0, id = 0, color=$('#currentColor').css('background-color');
    var nodes = new vis.DataSet([
        <% @concept_map.concepts.each do |c| %>
        <%= render c %>,
        <% end %>
    ]);

    var edges = new vis.DataSet([
        <% @concept_map.links.each do |l| %>
        <%= render l %>,
        <% end %>
    ]);

    var container = document.getElementById('map');

    var data = {
        nodes: nodes,
        edges: edges
    };
    //options for vis.js map
    var options = {
        autoResize: true,
        height: '100%',
        width: '100%',
        edges: {
          arrows : {
              to: {
                  enabled: true,
                  scaleFactor: 0.75
              },
          },
          smooth: false
        },
        physics: {
            enabled: false
        },
        interaction : {
            hover: true,
            navigationButtons: true,
            selectConnectedEdges: false,
            hoverConnectedEdges: false,
            multiselect: true
        }
    };

    // Add all used colors and their captions to legend
    nodes.forEach(function(elem){
        addColorToLegend(elem.color.background);
    });


    //------------------------ Concept Map Interaction ------------------------\\

    var network = new vis.Network(container, data, options);
    $('#context_help_text').html($('#ch_normal').html());

    network.on("hoverNode", function (params) {
      if (mode == none)
        $('#context_help_text').html($('#ch_hovernode').html());
      network.canvas.body.container.style.cursor = 'pointer'
    });
    network.on("hoverEdge", function (params) {
      if (mode == none)
        $('#context_help_text').html($('#ch_hoveredge').html());
      network.canvas.body.container.style.cursor = 'pointer'
    });

    network.on("blurNode", function (params) {
      if (mode == none)
        $('#context_help_text').html($('#ch_normal').html());
      network.canvas.body.container.style.cursor = 'default'
    });
    network.on("blurEdge", function (params) {
      if (mode == none)
        $('#context_help_text').html($('#ch_normal').html());
      network.canvas.body.container.style.cursor = 'default'
    });

    //Drag: Dragging concepts - Beginn
    network.on("dragStart", function (params) {
      if(params.nodes.length > 0) {
        id = params.nodes[0];
        mode = dragNode;
        oldX = params.pointer.canvas.x;
        oldY = params.pointer.canvas.y;
      }
    });

    //Drag: Dragging concepts - End
    network.on("dragEnd", function (params) {
        nodesArray=params.nodes;


        switch (mode) {
            case dragNode:
                concepts_data = {};
                newX = params.pointer.canvas.x;
                newY = params.pointer.canvas.y;
                //create hash of concepts (multiupdate)
                //    updated all selected and compute new x- and y-coordinates for all (oldX and oldY position of mouse at dragstart)
                nodesArray.forEach(function (element) {
                    concepts_data[element] = {'label': nodes.get(element).label, 'data':{'x': (nodes.get(element).x -(oldX-newX)), 'y': (nodes.get(element).y -(oldY-newY)), 'color':nodes.get(element).color.background}};
                    nodes.update({id: element, 'x': (nodes.get(element).x -(oldX-newX)), 'y': (nodes.get(element).y -(oldY-newY))});

                });
                //update concepts
                //fakeId= -1 needed
                jQuery.ajax({
                    type: "PUT",
                    url: "<%= concept_map_concepts_path(@map) %>/" + "-1" + "/",
                    data: {"concepts": {"concepts_data":concepts_data}}
                });
                hideForm();
        }
    });

    //Klick: Aktuelle Aktion abbrechen, Edit Node, Edit Edge, Add Node, Add Edge
    network.on("click", function (params) {
      switch (mode) {
        case editEdge:
        case editNode:
        case addNode:
          hideForm();
          //addColorToLegend(color);
          break;
        case addEdge:
            //Deactivate all options if STRG or CMD are pressed
            if(toggle){
                nodesArray = params.nodes;
            }
            else{
                if (params.nodes.length > 0) {
                    $('#start').val(id);
                    //draw an edge
                    if(id == params.nodes[0]){
                        $('#end').val(params.nodes[1]);
                    }
                    else{
                        $('#end').val(params.nodes[0]);
                    }


                    canvasX = Math.min(nodes.get(id).x, nodes.get(params.nodes[0]).x) + Math.abs(nodes.get(id).x - nodes.get(params.nodes[0]).x) / 2;
                    canvasY = Math.min(nodes.get(id).y, nodes.get(params.nodes[0]).y) + Math.abs(nodes.get(id).y - nodes.get(params.nodes[0]).y) / 2;
                    edge = edges.get({
                        filter: function (item) {
                            return (item.from == $('#start').val() && item.to == $('#end').val());
                        }
                    }, {returnType: 'Array'});
                    if (edge.length > 0) {
                        id = edge[0].id;
                        mode = editEdge;

                    }
                    showForm();
                }
                else
                    hideForm();
            }
            break;
        case none:
            //Deactivate all options if STRG or CMD are pressed
            if(toggle){
                nodesArray = params.nodes;
            }
            else{
                if (params.nodes.length > 0) {
                    id = params.nodes[0];
                    setTimeout(function() {
                            <% if @concept_map.survey.concept_labels.blank? %>
                            if (mode == none) {
                                canvasX = nodes.get(id).x;
                                canvasY = nodes.get(id).y;
                                mode = editNode;
                                //getting Color of changed concept
                                $('#currentColor').css('background-color', nodes.get(id).color.background);
                                oldColor = $('#currentColor').css('background-color');
                                color = $('#currentColor').css('background-color');
                                showForm();
                            }
                            <% end %>
                        },
                        175);
                }
                else
                if (params.edges.length > 0) {
                    id = params.edges[0];
                    setTimeout(function() {
                            if (mode == none) {
                                canvasX = params.pointer.canvas.x;
                                canvasY = params.pointer.canvas.y;
                                mode = editEdge;
                                showForm();
                            }
                        },
                        175);
                }
            }
      }
    });

    //Hold: Neue Kante erstellen - Anfang
    network.on("hold", function (params) {
      if (mode == none) {
        if (params.nodes.length > 0) {
          id = params.nodes[0];
          //select nodes and get an array of all selected
          nodesArray = params.nodes;
          mode = addEdge;
          $('#context_help_text').html($('#ch_addedge').html());
        }
        else {
          <% if @concept_map.survey.concept_labels.blank? %>
            canvasX = params.pointer.canvas.x;
            canvasY = params.pointer.canvas.y;
            mode = addNode;
            showForm();
          <% end %>
        }
      }
      //force closing of panels
          //cant directily differ between short and long click at second click
          //fast enough for a human not to recognize
      else if(mode==addEdge){
          $("#panel").addClass("hidden");
          $("#panel").focusout();
          nodesArray = params.nodes;
      }
      else if (edge.length > 0) {
            mode = none;
          $("#panel").addClass("hidden");
          $("#panel").focusout();
          nodesArray = params.nodes;

        }
    });

    function destroy() {
        deleteColorFromLegend(color, id);
      switch (mode) {
        case editNode:
          jQuery.ajax({type: "DELETE", url: "<%= concept_map_concepts_path(@map) %>/" + id });
          break;
        case editEdge:
          jQuery.ajax({type: "DELETE", url: "<%= concept_map_links_path(@map) %>/" + id });
          break;
      }
      hideForm();
    }

    function showForm() {
      $("#panel").removeClass("hidden");
      $("#panel").attr("style", "position:absolute;left:" + ($("#map").offset().left+network.canvasToDOM({x: canvasX, y: canvasY}).x-$("#form").width()/2) + "px;top:" + ($("#map").offset().top+network.canvasToDOM({x: canvasX, y: canvasY}).y-$("#form").height()/2) + "px;");
      switch (mode) {
            case addNode:
              $('#context_help_text').html($('#ch_new').html());
              $('#action').html("<%= t('.action_new_node')%>");
              $("#entry_concept").val("");
              $("#entry_concept").removeClass("hidden");
              $("#entry_link").addClass("hidden");
              $("#delete").addClass("hidden");
              $("#form").attr('action', '<%= concept_map_concepts_path(@map) %>');
              $("#form").attr('method', 'post');
              $("#x").attr("value", canvasX);
              $("#y").attr("value", canvasY);
              color = $('#currentColor').css('background-color');
              $("#color").attr("value", color);
              $("#entry_concept").focus();
              $("#currentColor").show();
                break;
            case editNode:
              $('#context_help_text').html($('#ch_edit').html());
              $('#action').html("<%= t('.action_edit_node')%>");
              $("#entry_concept").val(nodes.get(id).label);
              $("#entry_concept").removeClass("hidden");
              $("#entry_link").addClass("hidden");
              $("#delete").removeClass("hidden");
              $("#form").attr('action', '<%= concept_map_concepts_path(@map) %>/' + id);
              $("#form").attr('method', 'put');
              $("#x").attr("value", canvasX);
              $("#y").attr("value", canvasY);
              $("#color").attr("value", color);
              $("#entry_concept").focus();
              $("#currentColor").show();
                break;
            case editEdge:
              $('#context_help_text').html($('#ch_edit').html());
              $('#action').html("<%= t('.action_edit_link')%>");
              $("#entry_link").val(edges.get(id).label);
              $("#entry_link").removeClass("hidden");
              $("#entry_concept").addClass("hidden");
              $("#delete").removeClass("hidden");
              $("#form").attr('action', '<%= concept_map_links_path(@map) %>/' + id);
              $("#form").attr('method', 'put');
              $("#entry_link").focus();
              $("#currentColor").hide();
                break;
            case addEdge:
              $('#context_help_text').html($('#ch_new').html());
              $('#action').html("<%= t('.action_new_link')%>");
              $("#entry_link").val("");
              $("#entry_link").removeClass("hidden");
              $("#entry_concept").addClass("hidden");
              $("#currentColor").hide();
              $("#delete").addClass("hidden");
              $("#form").attr('action', '<%= concept_map_links_path(@map) %>');
              $("#form").attr('method', 'post');
              $("#entry_link").focus();

        }
   }

    //Edit/Create Aktion beenden
    function hideForm() {
        $("#panel").addClass("hidden");
        $("#panel").focusout();
        network.unselectAll();
        mode = none;
        $('#context_help_text').html($('#ch_normal').html());
    }

    //Form bei ESC oder Enter schließen
    $("#entry_concept").on('keyup', function (e) {
      if (e.keyCode == 27)
        hideForm();
    });
    $("#entry_link").on('keyup', function (e) {
      if (e.keyCode == 27)
        hideForm();
    });

    //check if STRG or CMD are pressend and toggle status/modus
    $(window).on('keydown', function (e) {
        if(e.keyCode==17){
            toggle = true;
        }

    });

    $(window).on('keyup',function (e) {
        if(e.keyCode==17){
            toggle=false;
        }

    });

    function validateForm() {
      if (mode === addNode || mode === editNode) {
        t = $('#entry_concept').val();
        hideForm();
        var node = nodes.get({
          filter: function (item) {
            return (item.label.toLocaleLowerCase() === t.toLocaleLowerCase());
          }
        });

        if (node == null||oldColor!==color){
            addColorToLegend(color);
            if(oldColor !== null){
                deleteColorFromLegend(oldColor,id);
            }
            return true;
        }
        else {
            network.focus(node[0].id);
            return false;
        }
      }
      else {
          hideForm();
        return true;
      }

    }


    //------------------------ Send Email  ------------------------\\

    function sendMail() {
      $('#emailgroup').removeClass('has-error');
      $('#emailgroup').removeClass('has-success');
      $('#submit').removeClass('btn-danger');
      $('#submit').removeClass('btn-success');
      if ($('#email').is(':valid') && $('#email').val() != '') {
        $.ajax({url: '<%= concept_map_path(@concept_map, format: :text)%>' + '?email=' + $('#email').val()});
        $('#submit').addClass('btn-success');
        $('#emailgroup').addClass('has-success');
      }
      else {
        $('#submit').addClass('btn-danger');
        $('#emailgroup').addClass('has-error');
      }
    }


    //------------------------ Color management ------------------------\\

    //change the color of one concept
    //is send with Form for concepts
    function changeColor(colorID) {
        $('#currentColor').css('background-color', $('#'+colorID).css('background-color'));
        color = $('#currentColor').css('background-color');
        $("#color").attr("value", color);
        $("#entry_concept").focus();
        return false;
    }
    //change the backgroundcolor of the map and save it in DB
    function changeBackgroundColor(colorID) {
        backgroundColor = $('#'+ colorID).css('background-color');
        $('#map').css('background-color',backgroundColor);
        $('#currentBackgroundColor').css('background-color',backgroundColor);
        jQuery.ajax({
            type: "PUT",
            url: "<%= concept_map_path(@map) %>",
            data: {"concept_map": {'data':{'background_color': backgroundColor}}}
        });
    }
    //Multichange color of concepts
    //send with ajax
    function multiButtonColor(colorID) {
        $('#currentButtonColor').css('background-color', $('#'+colorID).css('background-color'));
        color = $('#currentButtonColor').css('background-color');
        concepts_data = {};
        nodesArray.forEach(function (element) {
            concepts_data[element] = {'label': nodes.get(element).label, 'data':{'x': nodes.get(element).x, 'y': nodes.get(element).y, 'color':color}};
            deleteColorGroupFromLegend(nodes.get(element).color.background, nodes.get(element).id, nodesArray);
        });
        jQuery.ajax({
            type: "PUT",
            url: "<%= concept_map_concepts_path(@map) %>/" + "-1" + "/",
            data: {"concepts": {"concepts_data":concepts_data}}
        });

        nodesArray =[];
        network.unselectAll();
        mode = none;
        $('#context_help_text').html($('#ch_normal').html());
        addColorToLegend(color);
    }

    //disallow #-Key/hash in inputfield
    //in term of creating/updating concepts/links
    $('#entry_concept').on('keydown', function (e) {
        if(e.keyCode == 163){
            e.preventDefault();
        }

    });
    $('#entry_link').on('keydown', function (e) {
        if (e.keyCode == 163) {
            e.preventDefault();
        }
    });


    //------------------------ Color legend ------------------------\\

    // Legend only shows colors used in the concept map
    // Add color to legend
    function addColorToLegend(newColor) {
        if(newColor.localeCompare(brightgreen) === 0){
            $('#brightgreen').removeClass('hidden');
            //getColorName(brightgreenlegend, brightgreen);
        } else if(newColor.localeCompare(greenyellow) === 0) {
            $('#greenyellow').removeClass('hidden');
           // getColorName(greenyellowlegend, greenyellow);
        } else if(newColor.localeCompare(green) === 0) {
            $('#green').removeClass('hidden');
          //  getColorName(greenlegend, green);
        } else if(newColor.localeCompare(plum) === 0) {
            $('#plum').removeClass('hidden');
          //  getColorName(plumlegend, plum);
        } else if(newColor.localeCompare(yellow) === 0) {
            $('#yellow').removeClass('hidden');
         //   getColorName(yellowlegend, yellow);
        } else if(newColor.localeCompare(orange) === 0) {
            $('#orange').removeClass('hidden');
          //  getColorName(orangelegend, orange);
        } else if(newColor.localeCompare(dodgerblue) === 0) {
            $('#dodgerblue').removeClass('hidden');
           // getColorName(dodgerbluelegend, dodgerblue);
        } else if(newColor.localeCompare(deepskyblue) === 0){
            $('#deepskyblue').removeClass('hidden');
          //  getColorName(deepskybluelegend, deepskyblue);
        }
        // Adapt panel to new height
        document.getElementById("colorlegend").style.maxHeight = document.getElementById("colorlegend").scrollHeight + "px";
    }

    // Delete color from legend if not used anymore
    function deleteColorFromLegend(oldColor, id) {
        var used = false;
        // Is color used for another concept?
        nodes.forEach(function(elem){
            if((elem.id != id) && (elem.color.background.localeCompare(oldColor) === 0)){
                used = true;
            }
        });
        // Only delete if not used for another concept
        if(!used) {
            if (oldColor.localeCompare(brightgreen) === 0) {
                $('#brightgreen').addClass('hidden');
            } else if (oldColor.localeCompare(greenyellow) === 0) {
                $('#greenyellow').addClass('hidden');
            } else if (oldColor.localeCompare(green) === 0) {
                $('#green').addClass('hidden');
            } else if (oldColor.localeCompare(plum) === 0) {
                $('#plum').addClass('hidden');
            } else if (oldColor.localeCompare(yellow) === 0) {
                $('#yellow').addClass('hidden');
            } else if (oldColor.localeCompare(orange) === 0) {
                $('#orange').addClass('hidden');
            } else if (oldColor.localeCompare(dodgerblue) === 0) {
                $('#dodgerblue').addClass('hidden');
            } else if (oldColor.localeCompare(deepskyblue) === 0) {
                $('#deepskyblue').addClass('hidden');
            }
        }
    }

    // Delete color from legend for a selected group of nodes
    function deleteColorGroupFromLegend(oldColor, id, nodesArr) {
        var used = false;
        // Is color used for another concept?
        nodes.forEach(function(elem){
            if((elem.id != id) && (elem.color.background.localeCompare(oldColor) === 0)){
                nodesArr.forEach(function(toDelete) {
                    if(nodes.get(toDelete).id === elem.id) {

                        used = false;
                    }
                });
            }
        });
        // Only delete if not used for another concept
        if(!used) {
            alert("here");
            if (oldColor.localeCompare(brightgreen) === 0) {
                $('#brightgreen').addClass('hidden');
            } else if (oldColor.localeCompare(greenyellow) === 0) {
                $('#greenyellow').addClass('hidden');
            } else if (oldColor.localeCompare(green) === 0) {
                $('#green').addClass('hidden');
            } else if (oldColor.localeCompare(plum) === 0) {
                $('#plum').addClass('hidden');
            } else if (oldColor.localeCompare(yellow) === 0) {
                $('#yellow').addClass('hidden');
            } else if (oldColor.localeCompare(orange) === 0) {
                $('#orange').addClass('hidden');
            } else if (oldColor.localeCompare(dodgerblue) === 0) {
                $('#dodgerblue').addClass('hidden');
            } else if (oldColor.localeCompare(deepskyblue) === 0) {
                $('#deepskyblue').addClass('hidden');
            }
        }
    }


    // Save name of colors
    function saveColorName() {
        var brightgreenvalue = document.getElementById("brightgreenlegend").value;
        var greenyellowvalue = document.getElementById("greenyellowlegend").value;
        var greenvalue = document.getElementById("greenlegend").value;
        var plumvalue = document.getElementById("plumlegend").value;
        var yellowvalue = document.getElementById("yellowlegend").value;
        var orangevalue = document.getElementById("orangelegend").value;
        var dodgerbluevalue = document.getElementById("dodgerbluelegend").value;
        var deepskybluevalue = document.getElementById("deepskybluelegend").value;

        jQuery.ajax({
            type: "PUT",
            url: "<%= concept_map_path(@map) %>",
            data: {"concept_map": {'data':{'legend': {"a": brightgreenvalue, "b": greenyellowvalue, "c": greenvalue, "d": plumvalue, "e": yellowvalue, "f": orangevalue, "g": dodgerbluevalue, "h": deepskybluevalue }}}}
        });
    }

    // Get corresponding captions to colors
      var legendvalues = {
        <% @concept_map.data["legend"].keys.each do |l|%>
          <%= l %>: "<%=@concept_map.data["legend"][l] %>",
          <% end %>
      }

        document.getElementById("brightgreenlegend").value = legendvalues["a"];
        document.getElementById("greenyellowlegend").value = legendvalues["b"];
        document.getElementById("greenlegend").value = legendvalues["c"];
        document.getElementById("plumlegend").value = legendvalues["d"];
        document.getElementById("yellowlegend").value = legendvalues["e"];
        document.getElementById("orangelegend").value = legendvalues["f"];
        document.getElementById("dodgerbluelegend").value = legendvalues["g"];
        document.getElementById("deepskybluelegend").value = legendvalues["h"];


    //------------------------ Sidebar menu ------------------------\\

    // Open and close the sidebar menu
    function openNav() {
        var firstAccess = <%= @concept_map.accesses <= 2 %>;
       document.getElementById("menu").style.width = "260px";
       document.getElementById("navbar").style.marginLeft = "260px";
       document.getElementById("map").style.marginLeft = "260px";
       document.getElementById("info").style.marginLeft = "260px";
       document.getElementById("context_help").style.marginLeft = "260px";
       $('#menuSymbol').addClass('hidden');
       if( firstAccess || tutorialActive ) {
           $('#conceptCode').popover('hide');
           $('#tutorial_step0').css('left', '25%');
           $('#tutorial_step1').css('left', '50%');
           $('#tutorial_step2').css('left', '47%');
           $('#tutorial_step3').css('left', '25%');
       }
    }

    function closeNav() {
        var firstAccess = <%= @concept_map.accesses <= 2 %>;
        document.getElementById("menu").style.width = "0";
        document.getElementById("navbar").style.marginLeft= "0";
        document.getElementById("map").style.marginLeft= "0";
        document.getElementById("info").style.marginLeft = "0px";
        document.getElementById("context_help").style.marginLeft = "0px";
        $('#menuSymbol').removeClass('hidden');
        if(firstAccess || tutorialActive) {
            $('#tutorial_step0').css('left', '20%');
            $('#tutorial_step1').css('left', '35%');
            $('#tutorial_step2').css('left', '32%');
            $('#tutorial_step3').css('left', '10%');
            if(step1){
                $('#conceptCode').popover('show');
            }
        }
    }


    //------------------------ Tutorial ------------------------\\

    // Extend navigation buttons with popover
    $('.vis-button.vis-up').html('<div id="arrows" data-container="body" title="<%= t('popover.navigation')%>" data-toggle="popover" data-trigger="manual" data-placement="top" data-content="<%= t('popover.navigation_text')%>"></div>');
    $('.vis-button.vis-zoomExtends').html('<div id="zoom" data-container="body" title="<%= t('popover.zoom')%>" data-toggle="popover" data-trigger="manual" data-placement="top" data-content="<%= t('popover.zoom_text')%>"></div>');

    // Toggle popovers if necessary
    function hidePopover(popoverId){
        $('#' + popoverId).popover('hide');
    }

    function showPopover(popoverId){
        $('#' + popoverId).popover('show');
    }

    // End tutorial
    function endTutorial() {
        tutorialActive = false;

        // Restore full opacity
        document.getElementById("navbar").style.opacity = "1";
        document.getElementById("map").style.opacity = "1";

        // Hide all possible popovers
        $('#menuSymbol').popover('hide');
        $('#conceptCode').popover('hide');
        $('#questionmark').popover('hide');
        $('#logout').popover('hide');
        $('#arrows').popover('hide');
        $('#zoom').popover('hide');
        $('#context_help').addClass('hidden');
    }

    // Step through popovers of tutorial
    function step(number){
        switch(number) {
            case '0':
                step0 = true;
                document.getElementById("map").style.opacity = "0.5";
                document.getElementById("navbar").style.opacity= "0.5";
                $('#tutorial_step0').removeClass('hidden');
                break;
            case '1':
                step1 = true;
                step2 = false;
                document.getElementById("map").style.opacity = "0.5";
                document.getElementById("navbar").style.opacity= "1";
                $('#tutorial_step0').addClass('hidden');
                $('#tutorial_step1').removeClass('hidden');
                $('#logout').popover('show');
                $('#conceptCode').popover('show');
                $('#menuSymbol').popover('show');
                $('#questionmark').popover('show');
                $('#arrows').popover('hide');
                $('#zoom').popover('hide');
                break;
            case '2':
                step1 = false;
                step2 = true;
                document.getElementById("map").style.opacity = "1";
                document.getElementById("navbar").style.opacity= "0.5";
                $('#logout').popover('hide');
                $('#conceptCode').popover('hide');
                $('#menuSymbol').popover('hide');
                $('#questionmark').popover('hide');
                $('#tutorial_step1').addClass('hidden');
                $('#tutorial_step2').removeClass('hidden');
                $('#arrows').popover('show');
                $('#zoom').popover('show');
                break;
            case '3':
                step2 = false;
                step3 = true;
                $('#arrows').popover('hide');
                $('#zoom').popover('hide');
                $('#tutorial_step2').addClass('hidden');
                $('#tutorial_step3').removeClass('hidden');
                $('#context_help').removeClass('hidden');
        }
    }

</script>
