<div class="row">
  <div class = "col-md-12">
    <div class="card card-default">
      <div class="card-header concept_map_show">
        <%= @concept_map.survey.project.name %>
        <%= link_to raw("<span class='bi-x-lg'></span>"), user_projects_path(@user), class: "float-end"%>
      </div>

      <div class="card-body">
        <div class="card card-default">
          <div class="card-header">
            <%= @concept_map.survey.name %>
            <%= link_to raw("<span class='bi-x-lg'></span>"), user_project_path(@user, @concept_map.survey.project), class: "float-end"%>
          </div>

          <div class="card-body">
            <div class="card card-default">
              <div class="card-header">
                <%= @concept_map.code %>
                <%= link_to raw("<span class='bi-x-lg'></span>"), user_project_survey_path(@user, @concept_map.survey.project, @concept_map.survey), class: "float-end"%>
              </div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <%= render partial: "versions/index", locals: {concept_map: @concept_map}%>
                  </div>
                  <div class="col-md-10">
                    <%= render partial: 'versions/timeline', locals: {concept_map: @concept_map}%>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-10">
                    <p class="text-center">
                      <%= render partial: "versions/show", locals: {concept_map: @concept_map}%>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <%= render partial: 'concept_maps/table', locals: {concept_map: @concept_map}%>

                    <%= button_to concept_map_version_path(@concept_map, 0), method: :delete, form: { data: {turbo_confirm: t('are_you_sure')} }, class: "btn btn-block btn-danger mb-2" do %>
                      <%= t('versions.delete') %>
                    <% end %>

                    <%= button_to user_project_survey_concept_map_path(@user, @project, @survey, @concept_map), method: :delete, form: { data: {turbo_confirm: t('are_you_sure')} }, class: "btn btn-block btn-danger mb-2" do %>
                      <%= t('concept_maps.delete') %>
                    <% end %>
                  </div>
                  <div class="col-md-10">
                    <%= render partial: 'concept_maps/preview', locals: {concept_map: @concept_map}%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
