<div class="card card-default">
  <div class="card-header">
    <%= if @user.id.nil? then t('users.new') else t('users.edit') end %>
  </div>
  <div class="card-body">
    <%= form_for(@user, class: "form") do |f| %>
      <div class="form-group <%= "has-error" unless @user.errors[:email].blank? %>">
        <%= f.label t('email'), class: "control-label" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group <%= "has-error" unless @user.errors[:password_confirmation].blank? && @user.errors[:password].blank?%>">
        <%= f.label t('application.backend.password'), class: "control-label" %>
        <%= f.password_field :password, class: "form-control" %>
        <%= f.label t('users._form.password_confirmation'), class: "control-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <% if @login.admin? %>
        <div class="form-group">
          <%= f.label t('activerecord.attributes.user.capabilities'), class: "control-label" %>
          <%= f.text_field :capabilities, class: "form-control" %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
        <%= link_to t('cancel'), if (@user.id.nil? || (@user.id != @user.id)) then users_path else user_path(@user) end, class: "btn btn-secondary"%>
     </div>
    <% end %>
  </div>
</div>
