<div class="panel panel-default">
  <div class="panel-heading">
    <%= if @u.id.nil? then t('users.new') else t('users.edit') end %>
  </div>
  <div class="panel-body">
    <%= form_for(@u, class: "form") do |f| %>
      <div class="form-group <%= "has-error" unless @u.errors[:email].blank? %>">
        <%= f.label t('email'), class: "control-label" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group <%= "has-error" unless @u.errors[:password_confirmation].blank? && @u.errors[:password].blank?%>">
        <%= f.label t('application.backend.password'), class: "control-label" %>
        <%= f.password_field :password, class: "form-control" %>
        <%= f.label t('users._form.password_confirmation'), class: "control-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit :class => "btn btn-primary" %>
        <%= link_to t('cancel'), if (@u.id.nil? || (@u.id != @user.id)) then users_path else user_path(@u) end, class: "btn btn-default"%>
     </div>
    <% end %>
  </div>
</div>
