<div class="row">
  <div class = "col-md-2"></div>
  <div class = "col-md-8">
    <div class="card card-default">
      <div class="card-body">

        <table class = "table table-hover">
          <thead>
          <td><%= t('email') %></td><td><%= t('activerecord.attributes.user.capabilities') %></td><td><%= t('projects_text') %></td><td><%= t('maps') %></td><td></td>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.email, user %></td><td><%= user.capabilities %></td><td><%= link_to user.projects.count, user_projects_path(user) %></td><td><%= user.concept_map_count %></td>
              <td>
                <%= link_to raw("<span class='bi-pencil'></span>"), edit_user_path(user) %>
              &nbsp;
                <%= link_to_unless @user == user, raw("<span class='bi-trash'></span>"), user_path(user), data: {turbo_method: :delete, turbo_confirm: t('are_you_sure')}%>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= link_to t('users.new'), new_user_path, class: 'btn btn-secondary'%>

      </div>
    </div>
  </div>
  <div class = "col-md-2"></div>
</div>