<div class="row">
  <div class = "col-md-2"></div>
  <div class = "col-md-8">
    <div class="card card-default">
      <div class="card-body">

        <table class = "table">
          <tbody>
            <tr><td style="border-top: 0px"><%= t('email') %></td><td style="border-top: 0px"><%= @user.email %></td></tr>
            <tr><td><%= t('projects_text') %></td><td><%= @user.projects.count %></td></tr>
            <tr><td><%= t('maps') %></td><td><%= @user.concept_map_count %></td></tr>
          </tbody>
        </table>
        <%= link_to t('.change'), edit_user_path(@user), class: 'btn btn-default'%>

      </div>
    </div>
  </div>
  <div class = "col-md-2"></div>
</div>
