<table id="tab_<%=concept_map.id%>_ver" class="table">
  <tr><td><%= t('versions._index.versions') %>:</td><td><%= concept_map.versions.count %></td></tr>
  <tr><td><%= t('versions._index.first')%>:</td><td><%= concept_map.versions.first.date %></td></tr>
  <tr><td><%= t('versions._index.last') %>:</td><td><%= concept_map.versions.last.date %></td></tr>
  <tr><td><%= t('versions._index.current') %>:</td><td><span id="cur_ver"><%= concept_map.versions.count %></span></td></tr>
</table>
