<div id="timeline_<%= concept_map.id %>" style="height: 160px"></div>

<script type="module">

  import "vis-timeline"

  import vis from "vis-network"
  import { DataSet } from "vis-data/peer/umd/vis-data.js"


  const container = document.getElementById('timeline_<%= concept_map.id %>');
  const items = [
     <%  concept_map.versions.each do |v| %>
    {x: '<%= v.timestamp %>', y: <%= v.associations %>},
     <% end %>
  ];

  const dataset = new DataSet(items);
  const options = {
    start: '<%= concept_map.versions.first.timestamp %>',
    end: '<%= concept_map.versions.last.timestamp %>',
    height: '100%',
    width: '100%'
  };

  function timeChanged(properties) {
    // find version next left from dropped cursor
    const versionNextToCursor = items.reduce((acc, item, index)=>Date.parse(items[index]['x']) <= Date.parse(properties.time)?index:acc, 0)

    window.version = Math.max(0, versionNextToCursor);
    window.updatePreview(versionNextToCursor);
  };

  window.timeline= new vis.Graph2d(container, dataset, options);
  window.timeline.on("timechanged", timeChanged);

  window.timeBar = timeline.addCustomTime("<%= concept_map.versions.last.timestamp%>");
</script>