<div id="timeline_<%= concept_map.id %>" style="height: 160px"></div>
<div class="d-flex justify-content-center mt-4">
  <button id="first" class="btn btn-light"><span class="bi-chevron-double-left"></span></button>
  <button id="prev" class="btn btn-light"><span class="bi-chevron-left"></span></button>
  <button id="play" class="btn btn-light"><span class="bi-play"></span></button>
  <button id="next" class="btn btn-light" disabled="disabled"><span class="bi-chevron-right"></span></button>
  <button id="last" class="btn btn-light"><span class="bi-chevron-double-right"></span></button>
</div>

<script type="module">


  const container = document.getElementById('timeline_<%= concept_map.id %>');
  const items = [
     <%  concept_map.versions.each do |v| %>
    {x: '<%= v.timestamp %>', y: <%= v.associations %>},
     <% end %>
  ];

  const fetchUrl = '<%= concept_map_versions_path(concept_map) %>'
  const firstTimestamp = '<%= concept_map.versions.first.timestamp %>'
  const lastTimestamp = '<%= concept_map.versions.last.timestamp %>'
  const id = <%= concept_map.id %>
  const maxVersion = <%= concept_map.versions.count-1%>;

  const viewer = initBackend({fetchUrl, firstTimestamp, lastTimestamp, items, id, maxVersion})

  $("#first").on("click", ()=>viewer.updatePreview(0))
  $("#prev").on("click", ()=>viewer.previous())
  $("#play").on("click", ()=>viewer.play())
  $("#next").on("click", ()=>viewer.next())
  $("#last").on("click", ()=>viewer.updatePreview(maxVersion))

</script>
