<div class="card card-default">
  <div class="card-header">
    <%= t('surveys.import') %>
  </div>
  <div class="card-body">
    <%= form_for([@user, @project, @survey], class: "form", multipart: true) do |f| %>
        <div class="form-group">
          <%= f.label t('file'), class: "control-label" %>
          <%= f.file_field "file", accept: '.json, .zip', multiple: true, onchange: "$('#submit').removeClass('disabled');" %>
        </div>
        <div class="form-group">
          <%= f.submit t('import'), class: "btn btn-primary disabled", id: "submit" %>
          <button type="button" class="btn btn-default" onclick="history.back()"><%= t('cancel') %></button>
        </div>
    <% end %>
  </div>
</div>
