<div class="row">

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @survey.project.name %>
      <%= link_to raw("<span class='glyphicon glyphicon-remove'></span>"), user_projects_path(@user), class: "pull-right"%>
    </div>

    <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= @survey.name %>
          <%= link_to raw("<span class='glyphicon glyphicon-remove'></span>"), user_project_path(@user, @survey.project), class: "pull-right"%>
        </div>

        <div class="panel-body">
          <div class="container-fluid">
            <div class="row">
              <div class = "col-md-12">
                <ul class="nav nav-pills" role="tablist">
                  <li role="presentation" <% if @survey.concept_maps.size == 0 %> class='active' <% end %> ><a href="#details" aria-controls="details" role="tab" data-toggle="tab"><%= t('details') %></a></li>
                  <li role="presentation" <% if @survey.concept_maps.size > 0 %> class='active' <% end %>><a href="#maps" aria-controls="maps" role="tab" data-toggle="tab"><%= t('maps') %></a></li>
                  <li id="analysisTab" role="presentation"><a href="#analysis" aria-controls="analysis" role="tab" data-toggle="tab"><%= t('concept_maps.analysis.task') %></a></li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class = "col-md-12">
                <p>&nbsp;</p>
              </div>
            </div>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane <% if @survey.concept_maps.size == 0 %> active <% end %>" id="details">
                <div class="row">
                  <div class = "col-md-3">
                    <table class="table table-hover" width="50%">
                      <tr><td><%= t('activerecord.attributes.survey.description') %>:</td><td><%= @survey.description.blank? ? '-' : @survey.description %></td></tr>
                      <tr><td><%= t('maps') %>:</td><td><%= @survey.concept_maps.count %></td></tr>
                      <tr><td><%= t('activerecord.attributes.survey.code') %>:</td><td><%= @survey.code.blank? ? '-' : @survey.code %></td></tr>
                      <tr><td><%= t('activerecord.attributes.survey.start_date') %>:</td><td><%= @survey.start_date || "-" %></td></tr>
                      <tr><td><%= t('activerecord.attributes.survey.end_date') %>:</td><td><%= @survey.end_date || "-" %></td></tr>
                    </table>
                  </div>
                  <div class = "col-md-9" id="form">
                    <table class="table table-hover" width="50%">
                      <tr><td><%= t('activerecord.attributes.survey.introduction') %>:</td><td><% if @survey.introduction.blank? %> - <% else %><pre><%= @survey.introduction %></pre><% end %></td></tr>
                      <tr><td><%= t('activerecord.attributes.survey.concept_labels') %>:</td><td><%= @survey.concept_labels.blank? ? '-' : @survey.concept_labels %></td></tr>
                      <tr><td><%= t('activerecord.attributes.survey.association_labels') %>:</td><td><%= @survey.association_labels.blank? ? '-' : @survey.association_labels %></td></tr>
                      <tr><td><%= t('activerecord.attributes.survey.initial_map') %>:</td><td><% if @survey.initial_map.blank? %> - <% else %><pre><%= @survey.initial_map %></pre><% end %></td></tr>
                    </table>
                    <%= link_to t('edit'), edit_user_project_survey_path(@user, @project, @survey), class: "btn btn-default", remote: true %>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane  <% if @survey.concept_maps.size > 0 %> active <% end %>" id="maps">
                <%= render 'concept_maps/index' %>
              </div>

              <div role="tabpanel" class="tab-pane" id="analysis">
                <!--Place holder for the analysis-->
                <!--.textToShow hold infos about Objects to show(in de.yml, en.yml)-->
                <div id="analysisContent">
                  <%=raw t('concept_maps.analysis.textToShow')%>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<script>
    var toggle = true;
  //Array of all conceptlabels for aktiv survey
  var concepts = [
      <%@survey.concept_maps.each do |cm|%>
          <%cm.concepts.each do |c|%>
            "<%=c.label%>",
          <%end%>

      <%end%>
  ];
  var labelArray = concepts.filter(onlyUnique);
  //checks for uniqness in arrrays
  function onlyUnique(value, index, self) {
      return self.indexOf(value) === index;
  }
  //Load content for analysistab new, when tab is pressed
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      var target = $(e.target).attr("href"); // activated tab
      if(target=="#analysis"){
          $('#analysisContent').html("<%=raw t('concept_maps.analysis.textToShow')%>");
      }
      //othewise delete complete div-element
      else{
          $('#paramsField').html("");
          toggle = true;
      }
  });
  //start analysis
  function startAnalysis() {
      i = 0;
      count = 0;
      //check if no or at min. two appearing concepts are selected
      relevantConcepts = $('#paramsField').val();
      while (i<labelArray.length){
          if(relevantConcepts.includes(labelArray[i])){
              count = count +1;
          }
          i = i+1;
      }
      if(count<2&&relevantConcepts!=""){
          alert("<%= t('concept_maps.analysis.error')%>");
          return;
      }
      //change content of div (Please wait)
      $('#analysisContent').html("<h3 ><%=t('concept_maps.analysis.wait')%></h3>");
      //start the analysis/call analyze function in controller
      jQuery.ajax({
          type: "GET",
          url: "<%= analyze_user_project_survey_concept_maps_path(@user, @project, @survey) %>" + ".js",
          data: {"relevantConcepts": relevantConcepts}
      });

  }

  //press Enter to start analysis
  $(window).on('keydown', function (e) {
      if(e.keyCode==13){
          if($("#analysisTab").hasClass("active")&&toggle){
              toggle = false;
              $('#sAnalysisBtn').click();
          }
      }

  });
</script>