<span id="colorpicker">
  <input id="color" type="hidden" name="concept[color]" value="<%= palette(0) %>"/>
  <div class="dropdown" style="display: inline-block;" >
    <div id="currentColor" class="color btn dropdown-toggle me-1" data-toggle="dropdown" style="width: 50px;height:36px;background-color: <%= default_color %>;"><span class="caret"></span></div>
    <div id="colorSelect" class="dropdown-menu">
      <table>
        <tr>
          <td style="padding-left: 12px;"><div id="color1" class="btn" style="width: 40px;height:30px;background-color: <%= palette(0) %>;" onclick="changeColor('1');"></div></td>
          <td style="padding-left: 7px;"><div id="color2" class="btn" style="width: 40px;height:30px;background-color: <%= palette(1) %>" onclick="changeColor('2');"></div></td>
          <td style="padding-left: 7px;"><div id="color3" class="btn" style="width: 40px;height:30px;background-color: <%= palette(2) %>" onclick="changeColor('3');"></div></td>
        </tr>
        <tr>
          <td style="padding-left: 12px; padding-top: 3px;"><div id="color4" class="btn" style="width: 40px;height:30px;background-color: <%= palette(3) %>;" onclick="changeColor('4');"></div></td>
          <td style="padding-left: 7px; padding-top: 3px;"><div id="color5" class="btn" style="width: 40px;height:30px;background-color: <%= palette(4) %>" onclick="changeColor('5');"></div></td>
          <td style="padding-left: 7px; padding-top: 3px;"><div id="color6" class="btn" style="width: 40px;height:30px;background-color: <%= palette(5) %>" onclick="changeColor('6');"></div></td>
        </tr>
      </table>
    </div>
  </div>
</span>

<script type="module">
  import $ from "jquery"
  // colorpicker open/close handler
  $("#currentColor").on("click", () => {
    const isColorPickerOpen = $("#colorSelect").css("display") === "block"
    const isShapePickerOpen = $("#shapeSelect").css("display") === "block"
    $("#colorSelect").css("display", isColorPickerOpen ? "none" : "block")
    if (!isColorPickerOpen) $("#shapeSelect").css("display", "none")  // ColorPicker is about to be opened -> close ShapePicker
  })
</script>