<!-- Menubutton top left corner -->
<div class="btn-group navigation-elements d-flex flex-row justify-between mx-4">

  <div id="header-nav">
    <div class="dropdown">

        <span id="header-button" class="bi-list canvasButton dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="<%=t('concept_maps.edit.menu')%>"></span>

      <ul class="dropdown-menu" id="sidebarMenu" aria-labelledby="menuButton">
        <li class="dropdown-header"><%= t('concept_maps.edit.help') %></li>
        <% unless @concept_map.survey.introduction.blank? %>
          <li><%= link_to t('concept_maps.edit.task'), '', onclick: "$('#task').removeClass('d-none');return false;", class: "dropdown-item"%></li>
        <% end %>
        <li><%= link_to t('concept_maps.edit.help_short'), '', onclick: "$('#context-help').removeClass('d-none');return false;", class: "dropdown-item"%></li>
        <li><%= link_to t('concept_maps.edit.help_info'), '#',  data: {"bs-toggle": "modal", "bs-target": "#info"}, class: "dropdown-item"%></li>
        <li role="separator" class="dropdown-divider"></li>
        <li class="dropdown-header"><%= t('export') %></li>
        <li><%= link_to 'TGF', concept_map_path(@concept_map, format: 'text'), class: "dropdown-item"%></li>
        <li><a id="png_link"  class="dropdown-item" href="#" download="<%= @concept_map.code%>.png" onclick="$('#png_link').attr('href', $('canvas')[0].toDataURL());">PNG</a></li>
        <li role="separator" class="dropdown-divider"></li>
        <li><%= link_to t('imprint') + ' & ' + t('privacy'), '#', data: {"bs-toggle": "modal", "bs-target": "#legal"}, class: "dropdown-item"%></li>
        <li><%= link_to t('logout'), logout_path(target: 'frontend'), class: "dropdown-item"%></li>
      </ul>
    </div>
  </div>
  <div class="flex-fill"></div>

  <!-- Code info + Mailform top center -->
  <div id="header-code" class="alert">
    <div class="dropdown">
      <div class="dropdown-toggle" id="mailButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="code-text"><%= t('concept_maps.edit.code')%>:</span> <b><%= @concept_map.code%></b>&nbsp;&nbsp;<span class="bi-envelope" title="<%=t('concept_maps.edit.mail')%>"></span>
      </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="mailButton" style="padding: 3px">
        <form class="form form-inline">
          <div class="form-group" style="padding-bottom: 3px">
            <input id="email" type="email" class="form-control" placeholder="<%= t('email')%>">
          </div>
          <button id="submit-mail" type="submit" class="btn btn-block btn-primary" onclick="sendMail();return false;"><%= t('concept_maps.edit.send')%></button>
        </form>
      </div>
    </div>
  </div>
  <div class="flex-fill"></div>

  <!-- Search button top right corner -->
  <div id="header-search">
    <div class="dropdown">
      <div class="dropdown-toggle" id="searchButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="$('#hoverButton').attr('hidden',true)">
        <span class="bi-search canvasButton" title="<%=t('concept_maps.edit.search')%>"></span>
      </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="searchButton" style="background-color: white; padding: 0px; border: 0px">
        <form class="form-inline">
          <div class="form-group" id="searchGroup">
            <input id="searchInput" type="text" class="form-control input-sm" onkeyup="searchConcept($('#searchInput').val());" placeholder="<%= t('concept')%>">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- DH: Toogle Button to switch between Canvas and Logs for mobile devices -->
<div id="toggle_button" class="d-lg-none">
  <%=t('show_students')%><br><br>
</div>

<!-- Modals for manual -->
<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4><%= t('concept_maps.edit.help_info') %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span></button>
      </div>
      <div class="modal-body">
        <%= render 'concept_maps/editor/info'%>
      </div>
    </div>
  </div>
</div>

<!-- Modals for imprint & privacy -->
<%= render 'legal'%>

<!-- Context help bottom center -->
<div id="context-help" role="alert" class="d-flex justify-content-between align-items-start alert <% unless @concept_map.first? %> d-none <% end %>">
  <p id="context-help-text">
  </p>
  <button type="button" class="btn-close btn-close-white" aria-label="Close" onclick="$('#context-help').addClass('d-none');return false;"></span></button>
  <%= render 'concept_maps/editor/context_help'%>
</div>

<!-- Survey introduction-->
<% unless @concept_map.survey.introduction.blank? %>
  <div id="task" class="alert <% unless @concept_map.first? %> d-none <% end %>">
    <button type="button" class="btn-close" aria-label="Close" onclick="$('#task').addClass('d-none');return false;"></span></button>
    <p>
      <%= @concept_map.survey.introduction %>
    </p>
  </div>
<% end %>
