<div class="modal fade" id="legal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4><%= t('concept_maps.edit.legal') %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card card-default mb-3">
            <a class="text-body text-decoration-none" role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#cImprint" aria-expanded="true" aria-controls="cImprint">
              <div role="tab" id="hImprint">
                <h4 class="card-header legal-button">
                  <%= t('imprint') %>
                </h4>
              </div>
            </a>
            <div id="cImprint" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="hImprint">
              <div class="card-body">
                <%= render 'imprint'%>
              </div>
            </div>
          </div>
          <div class="card card-default">
            <a class="collapsed text-body text-decoration-none" role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#cPrivacy" aria-expanded="false" aria-controls="#cPrivacy">
              <div role="tab" id="hPrivacy">
                <h4 class="card-header legal-button">
                  <%= t('privacy') %>
                </h4>
              </div>
            </a>
            <div id="cPrivacy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="#hPrivacy">
              <div class="card-body">
                <% if controller_name != 'concept_maps' %>
                  <%= render 'privacy_backend'%>
                <% else %>
                  <%= render 'privacy_frontend'%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


