<div class="modal fade" id="legal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4><%= t('concept_maps.edit.legal') %></h4>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="hImprint">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#cImprint" aria-expanded="true" aria-controls="cImprint">
                  <%= t('imprint') %>
                </a>
              </h4>
            </div>
            <div id="cImprint" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="hImprint">
              <div class="panel-body">
                <%= render 'imprint'%>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="hPrivacy">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cPrivacy" aria-expanded="false" aria-controls="#cPrivacy">
                  <%= t('privacy') %>
                </a>
              </h4>
            </div>
            <div id="cPrivacy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="#hPrivacy">
              <div class="panel-body">
                <% if controller_name != 'concept_maps' %>
                  <%= render 'privacy_backend'%>
                <% else %>
                  <%= render 'privacy_frontend'%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


