<% content_for :body do %>

  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-brand">CoMapEd</p>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to t('.projects'), user_projects_path(@login)%></li>
        <li><%= link_to t('.my_data'), user_path(@login)%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if @login.admin? %>
          <li><%= link_to t('.users'), users_path%></li>
        <% end %>
        <li><%= link_to t('privacy') + ' & ' + t('imprint') , '#', data: {toggle: "modal", target: "#legal"}%></li>
        <li><%= link_to t('logout'), logout_path(target: 'backend')%></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <div id="alert">
      <% unless notice.blank? %>
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p id="notice"><%= raw(notice) %></p>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </div>

  <%= render 'legal'%>
<% end %>

<%= render template: "layouts/application" %>




