<% content_for :header do %>
    <div class="container-fluid">
      <div class="navbar-header">
        <p class="navbar-brand">CoMapEd</p>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Exportieren", '#'%></li>
        <li><%= link_to "Hilfe anzeigen", '', onclick: "$('#help').removeClass('hidden');return false;"%></li>
      </ul>
      <p class="navbar-text navbar-right">Dieses Begriffsnetz hat den Code: <%= @concept_map.code%></p>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('logout'), logout_path(target: 'frontend')%></li>
      </ul>
    </div>
<% end %>

<% content_for :body do %>
    <%= yield %>
<% end %>

<%= render template: "layouts/application" %>




